___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">DA & DVwPY</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">The Exploratory Data Analysis (EDA) Project</p>

<img src=https://i.ibb.co/wJW61Y2/Used-cars.jpg width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">AutoScout Car Price Prediction EDA</p>

## Introduction
Welcome to "***AutoScout Exploratory Data Analysis (EDA) Project***". This is the project of completing ***Data Analysis & Data Visualization*** Courses and a successful hand-over is mandatory for getting certification for both courses. **Auto Scout** data used in this project scraped from the Website of an online car trading company in 2022, and contains many features of 13 different car makes including 594 models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using a variety of Python libraries, such as Numpy, Pandas, Matplotlib, Seaborn, Scipy, and then you will get a clean dataset for your analysis and pretictive modelling in Machine Learning Path. So you will have the chance to use all the skills you have already learned in the Data Analysis and Visualization courses.

**``In this context, the project consists of 3 parts in general:``**
* **The first part** is related to ``'Data Cleaning'``. It deals with Incorrect Headers, Incorrect Format, Anomalies, and Dropping useless columns.
* **The second part** is related to ``'Filling Data'``, in other words 'Imputation'. It deals with Missing Values. Categorical to numeric transformation, Encoding, is done as well.
* **The third part** is related to ``'Handling Outliers of Data'`` via Visualization libraries. So, some insights will be extracted.

**``SPECIAL NOTE:``**  However, you are ``free to create your own style``. You do ``NOT`` have to stick to the steps above. Nevertheless, we, the DA & DV instructors, recommend you study each part separately to create a source notebook for your further studies. 

In order to build your Portfolio in terms of the GitHub account, you need to push your solution file up to your own repository.

Please after solving the task, commit your notebook to GitHub and submit its link to LMS page where the project is settled down.

**BE NOTED:** Please ``DO NOT FORGET`` to click the submit button.

### Some Reminders on Exploratory data analysis (EDA)

Exploratory data analysis (EDA) is an especially important activity in the routine of a data analyst or scientist. It enables an in depth understanding of the dataset, define or discard hypotheses and create predictive models on a solid basis. It uses data manipulation techniques and several statistical tools to describe and understand the relationship between variables and how these can impact business. By means of EDA, we can obtain meaningful insights that can impact analysis under the following questions (If a checklist is good enough for pilots to use every flight, it’s good enough for data scientists to use with every dataset).
1. What question are you trying to solve (or prove wrong)?
2. What kind of data do you have?
3. What’s missing from the data?
4. Where are the outliers?
5. How can you add, change or remove features to get more out of your data?

**``Exploratory data analysis (EDA)``** is often an **iterative brainstorming process** where you pose a question, review the data, and develop further questions to investigate before beginning model development work. The image below shows how the brainstorming phase is connected with that of understanding the variables and how this in turn is connected again with the brainstorming phase.<br>

<img src=https://i.ibb.co/k0MC950/EDA-Process.png width="300" height="100">

[Image Credit: Andrew D.](https://towardsdatascience.com/exploratory-data-analysis-in-python-a-step-by-step-process-d0dfa6bf94ee)

<a id="1"></a>
<div style="border-radius: 10px;
            border: black solid;
            background-color: #6b5b95;
            font-size: 100%;
            text-align: left;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">

<h2 style="border: 0; border-radius: 15px; font-weight: bold; font-size: 220%; color: white"><center>  Explanations of the features </center></h2>
    
- **make_model**: Vehicle brand and model.
- **short_description**: Brief description.
- **make**: Vehicle brand.
- **model**: Vehicle model.
- **location**: Location of the vehicle.
- **price**: Price.
- **body_type**: Vehicle body type.
- **type**: Vehicle type.
- **doors**: Number of doors in the vehicle.
- **country_version**: Country version of the vehicle.
- **offer_number**: Offer number.
- **warranty**: Warranty.
- **mileage**: Vehicle mileage information.
- **first_registration**: First registration date.
- **gearbox**: Gearbox type.
- **fuel_type**: Fuel type.
- **colour**: Vehicle color.
- **paint**: Paint type.
- **desc**: Description.
- **seller**: Seller.
- **seats**: Number of seats in the vehicle.
- **power**: Engine power.
- **engine_size**: Engine size.
- **gears**: Number of gears.
- **co_emissions**:  CO₂ emissions.
- **manufacturer_colour**: Manufacturer color.
- **drivetrain**: Drivetrain type.
- **cylinders**: Number of cylinders.
- **fuel_consumption**: Fuel consumption.
- **comfort_&_convenience**: Comfort and convenience features.
- **entertainment_&_media**: Entertainment and media features.
- **safety_&_security**: Safety and security features.
- **extras**: Extra features.
- **empty_weight**: Empty weight.
- **model_code**: Model code.
- **general_inspection**: General inspection.
- **last_service**: Last service.
- **full_service_history**: Full service history.
- **non_smoker_vehicle**: Non-smoker vehicle.
- **emission_class**: Emission class.
- **emissions_sticker**: Emissions sticker.
- **upholstery_colour**: Upholstery color.
- **upholstery**: Upholstery.
- **production_date**: Production date.
- **previous_owner**: Previous owner.
- **other_fuel_types**: Other fuel types.
- **power_consumption**: Power consumption.
- **energy_efficiency_class**: Energy efficiency class.
- **co_efficiency**:  CO₂ efficiency.
- **fuel_consumption_wltp**: WLTP fuel consumption.
- **co_emissions_wltp**: WLTP  CO₂ emissions.
- **available_from**: Available from.
- **taxi_or_rental_car**: Taxi or rental car.
- **availability**: Availability status.
- **last_timing_belt_change**: Last timing belt change.
- **electric_range_wltp**: WLTP electric range.
- **power_consumption_wltp**: WLTP power consumption.
- **battery_ownership**: Battery ownership.

<a id = "1"></a>
# <p style="background-color:#6b5b95; font-family:newtimeroman;color:#FFF9ED; font-size:150%; text-align:center; border-radius: 15px 50px;"> Import Libraries </p>

In [1]:
import numpy as np 
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from collections import Counter

# !pip install skimpy
from skimpy import clean_columns
from skimpy import skim

import warnings
warnings.filterwarnings('ignore')

<a id = "1"></a>
# <p style="background-color:#6b5b95; font-family:newtimeroman;color:#FFF9ED; font-size:150%; text-align:center; border-radius: 15px 50px;"> Reading and understanding data </p>

In [2]:
df0 = pd.read_json('as24_cars.json')
df = df0.copy()

,0,1,2,3,4
make_model,Mercedes-Benz A 160,Mercedes-Benz EQE 350,Mercedes-Benz A 45 AMG,Mercedes-Benz A 35 AMG,Mercedes-Benz A 45 AMG
short_description,CDi,350+,S 4Matic+ 8G-DCT,4Matic+ 7G-DCT,200CDI BE Line 4M 7G-DCT
make,\nMercedes-Benz\n,\nMercedes-Benz\n,\nMercedes-Benz\n,\nMercedes-Benz\n,\nMercedes-Benz\n
model,"[\n, A 160 ,\n]","[\n, EQE 350 ,\n]","[\n, A 45 AMG ,\n]","[\n, A 35 AMG ,\n]","[\n, A 45 AMG ,\n]"
location,"P.I. EL PALMAR C/FORJA 6, 11500 PUERTO DE SAN...","APARTADO DE CORREOS 1032, 26140 LOGROÑO, ES","PORT. TARRACO, MOLL DE LLEVANT, Nº 5, LOC. 6-8...","Carrer de Provença, 31 Local, 8029 BARCELONA, ES","CARRIL ARAGONES 4, 30007 CASILLAS, ES"
price,"€ 16,950.-","€ 80,900.-","€ 69,900.-","€ 46,990.-","€ 16,800.-"
Body type,"[\n, Compact, \n]","[\n, Compact, \n]","[\n, Compact, \n]","[\n, Compact, \n]","[\n, Compact, \n]"
Type,"[\n, Used, \n]","[\n, Pre-registered, \n]","[\n, Used, \n]","[\n, Used, \n]","[\n, Used, \n]"
Doors,"[\n, 5, \n]","[\n, 4, \n]","[\n, 5, \n]","[\n, 5, \n]","[\n, 5, \n]"
Country version,"[\n, Spain, \n]","[\n, Spain, \n]","[\n, Spain, \n]","[\n, Spain, \n]","[\n, Spain, \n]"
Offer number,"[\n, 7468157, \n]","[\n, 7054863, \n]","[\n, 7410454, \n]","[\n, 7464503, \n]","[\n, 7127931, \n]"
Warranty,"[\n, 24 months, \n]","[\n, 24 months, \n]","[\n, 12 months, \n]","[\n, 12 months, \n]","[\n, 12 months, \n]"
Mileage,"120,200 km","5,000 km","18,900 km","18,995 km","197,000 km"
First registration,06/2016,06/2022,07/2020,01/2020,09/2015
Gearbox,[\nManual\n],[\nAutomatic\n],[\nAutomatic\n],[\nAutomatic\n],[\nAutomatic\n]
Fuel type,Diesel,Electric,Gasoline,Gasoline,Diesel
Colour,Black,NaN,Grey,Yellow,White
Paint,Metallic,NaN,NaN,NaN,Metallic
desc,"[ , Precio al contado: 16950 euros, , , Vehí...","[ , Precio al contado: 88900 euros, , AUTO OJ...","[Gris MANUFAKTUR mountaingrau magno, , Linea/...","[ , Precio al contado: 48990 euros, , , BONI...","[ , Precio al contado: 17400 euros, , Vehícul..."
seller,Dealer,Dealer,Dealer,Dealer,Dealer
Seats,NaN,"[\n, 5, \n]","[\n, 5, \n]","[\n, 5, \n]","[\n, 5, \n]"
Power,NaN,[\n215 kW (292 hp)\n],[\n310 kW (421 hp)\n],[\n225 kW (306 hp)\n],[\n100 kW (136 hp)\n]
Engine size,NaN,[\n1 cc\n],"[\n1,991 cc\n]","[\n1,991 cc\n]","[\n2,143 cc\n]"
Gears,NaN,[\n9\n],[\n8\n],[\n7\n],[\n7\n]
CO₂-emissions,NaN,0 g/km (comb.),NaN,NaN,NaN
Manufacturer colour,NaN,Negro Obsidiana,Mountaingrau magno,Amarillo Sol,NaN
Drivetrain,NaN,NaN,"[\n, 4WD, \n]","[\n, 4WD, \n]","[\n, 4WD, \n]"
Cylinders,NaN,NaN,[\n4\n],[\n4\n],[\n4\n]
Fuel consumption,NaN,NaN,"[[8.4 l/100 km (comb.)], [10.9 l/100 km (city)...","[[7.3 l/100 km (comb.)], [9.3 l/100 km (city)]...","[[4.9 l/100 km (comb.)], [5.7 l/100 km (city)]..."
\nComfort & Convenience\n,NaN,NaN,NaN,"[Air conditioning, Automatic climate control, ...","[Air conditioning, Electrical side mirrors, Mu..."
\nEntertainment & Media\n,NaN,NaN,NaN,[USB],"[Bluetooth, CD player, MP3, USB]"
\nSafety & Security\n,NaN,NaN,NaN,"[ABS, Central door lock, Driver-side airbag, E...","[ABS, Central door lock, Driver-side airbag, E..."
\nExtras\n,NaN,NaN,NaN,[Sport seats],NaN
Empty weight,NaN,NaN,NaN,NaN,"[\n1,545 kg\n]"
Model code,NaN,NaN,NaN,NaN,NaN
General inspection,NaN,NaN,NaN,NaN,NaN
Last service,NaN,NaN,NaN,NaN,NaN
Full service history,NaN,NaN,NaN,NaN,NaN
Non-smoker vehicle,NaN,NaN,NaN,NaN,NaN
Emission class,NaN,NaN,NaN,NaN,NaN
Emissions sticker,NaN,NaN,NaN,NaN,NaN
Upholstery colour,NaN,NaN,NaN,NaN,NaN
Upholstery,NaN,NaN,NaN,NaN,NaN
Production date,NaN,NaN,NaN,NaN,NaN
Previous owner,NaN,NaN,NaN,NaN,NaN
Other fuel types,NaN,NaN,NaN,NaN,NaN
Power consumption,NaN,NaN,NaN,NaN,NaN
Energy efficiency class,NaN,NaN,NaN,NaN,NaN
CO₂-efficiency,NaN,NaN,NaN,NaN,NaN
Fuel consumption (WLTP),NaN,NaN,NaN,NaN,NaN
CO₂-emissions (WLTP),NaN,NaN,NaN,NaN,NaN
Available from,NaN,NaN,NaN,NaN,NaN
Taxi or rental car,NaN,NaN,NaN,NaN,NaN
Availability,NaN,NaN,NaN,NaN,NaN
Last timing belt change,NaN,NaN,NaN,NaN,NaN
Electric Range (WLTP),NaN,NaN,NaN,NaN,NaN
Power consumption (WLTP),NaN,NaN,NaN,NaN,NaN
Battery Ownership,NaN,NaN,NaN,NaN,NaN

In [3]:
df = clean_columns(df, case='snake')
df.columns

50 column names have been cleaned

Index(['make_model', 'short_description', 'make', 'model', 'location', 'price',
       'body_type', 'type', 'doors', 'country_version', 'offer_number',
       'warranty', 'mileage', 'first_registration', 'gearbox', 'fuel_type',
       'colour', 'paint', 'desc', 'seller', 'seats', 'power', 'engine_size',
       'gears', 'co_emissions', 'manufacturer_colour', 'drivetrain',
       'cylinders', 'fuel_consumption', 'comfort_&_convenience',
       'entertainment_&_media', 'safety_&_security', 'extras', 'empty_weight',
       'model_code', 'general_inspection', 'last_service',
       'full_service_history', 'non_smoker_vehicle', 'emission_class',
       'emissions_sticker', 'upholstery_colour', 'upholstery',
       'production_date', 'previous_owner', 'other_fuel_types',
       'power_consumption', 'energy_efficiency_class', 'co_efficiency',
       'fuel_consumption_wltp', 'co_emissions_wltp', 'available_from',
       'taxi_or_rental_car', 'availability', 'last_timing_belt_change',
       'electric_range_wltp', 'power_consumption_wltp', 'battery_ownership'],
      dtype='object')

In [4]:
df.head().T

,0,1,2,3,4
make_model,Mercedes-Benz A 160,Mercedes-Benz EQE 350,Mercedes-Benz A 45 AMG,Mercedes-Benz A 35 AMG,Mercedes-Benz A 45 AMG
short_description,CDi,350+,S 4Matic+ 8G-DCT,4Matic+ 7G-DCT,200CDI BE Line 4M 7G-DCT
make,\nMercedes-Benz\n,\nMercedes-Benz\n,\nMercedes-Benz\n,\nMercedes-Benz\n,\nMercedes-Benz\n
model,"[\n, A 160 ,\n]","[\n, EQE 350 ,\n]","[\n, A 45 AMG ,\n]","[\n, A 35 AMG ,\n]","[\n, A 45 AMG ,\n]"
location,"P.I. EL PALMAR C/FORJA 6, 11500 PUERTO DE SAN...","APARTADO DE CORREOS 1032, 26140 LOGROÑO, ES","PORT. TARRACO, MOLL DE LLEVANT, Nº 5, LOC. 6-8...","Carrer de Provença, 31 Local, 8029 BARCELONA, ES","CARRIL ARAGONES 4, 30007 CASILLAS, ES"
price,"€ 16,950.-","€ 80,900.-","€ 69,900.-","€ 46,990.-","€ 16,800.-"
body_type,"[\n, Compact, \n]","[\n, Compact, \n]","[\n, Compact, \n]","[\n, Compact, \n]","[\n, Compact, \n]"
type,"[\n, Used, \n]","[\n, Pre-registered, \n]","[\n, Used, \n]","[\n, Used, \n]","[\n, Used, \n]"
doors,"[\n, 5, \n]","[\n, 4, \n]","[\n, 5, \n]","[\n, 5, \n]","[\n, 5, \n]"
country_version,"[\n, Spain, \n]","[\n, Spain, \n]","[\n, Spain, \n]","[\n, Spain, \n]","[\n, Spain, \n]"
offer_number,"[\n, 7468157, \n]","[\n, 7054863, \n]","[\n, 7410454, \n]","[\n, 7464503, \n]","[\n, 7127931, \n]"
warranty,"[\n, 24 months, \n]","[\n, 24 months, \n]","[\n, 12 months, \n]","[\n, 12 months, \n]","[\n, 12 months, \n]"
mileage,"120,200 km","5,000 km","18,900 km","18,995 km","197,000 km"
first_registration,06/2016,06/2022,07/2020,01/2020,09/2015
gearbox,[\nManual\n],[\nAutomatic\n],[\nAutomatic\n],[\nAutomatic\n],[\nAutomatic\n]
fuel_type,Diesel,Electric,Gasoline,Gasoline,Diesel
colour,Black,NaN,Grey,Yellow,White
paint,Metallic,NaN,NaN,NaN,Metallic
desc,"[ , Precio al contado: 16950 euros, , , Vehí...","[ , Precio al contado: 88900 euros, , AUTO OJ...","[Gris MANUFAKTUR mountaingrau magno, , Linea/...","[ , Precio al contado: 48990 euros, , , BONI...","[ , Precio al contado: 17400 euros, , Vehícul..."
seller,Dealer,Dealer,Dealer,Dealer,Dealer
seats,NaN,"[\n, 5, \n]","[\n, 5, \n]","[\n, 5, \n]","[\n, 5, \n]"
power,NaN,[\n215 kW (292 hp)\n],[\n310 kW (421 hp)\n],[\n225 kW (306 hp)\n],[\n100 kW (136 hp)\n]
engine_size,NaN,[\n1 cc\n],"[\n1,991 cc\n]","[\n1,991 cc\n]","[\n2,143 cc\n]"
gears,NaN,[\n9\n],[\n8\n],[\n7\n],[\n7\n]
co_emissions,NaN,0 g/km (comb.),NaN,NaN,NaN
manufacturer_colour,NaN,Negro Obsidiana,Mountaingrau magno,Amarillo Sol,NaN
drivetrain,NaN,NaN,"[\n, 4WD, \n]","[\n, 4WD, \n]","[\n, 4WD, \n]"
cylinders,NaN,NaN,[\n4\n],[\n4\n],[\n4\n]
fuel_consumption,NaN,NaN,"[[8.4 l/100 km (comb.)], [10.9 l/100 km (city)...","[[7.3 l/100 km (comb.)], [9.3 l/100 km (city)]...","[[4.9 l/100 km (comb.)], [5.7 l/100 km (city)]..."
comfort_&_convenience,NaN,NaN,NaN,"[Air conditioning, Automatic climate control, ...","[Air conditioning, Electrical side mirrors, Mu..."
entertainment_&_media,NaN,NaN,NaN,[USB],"[Bluetooth, CD player, MP3, USB]"
safety_&_security,NaN,NaN,NaN,"[ABS, Central door lock, Driver-side airbag, E...","[ABS, Central door lock, Driver-side airbag, E..."
extras,NaN,NaN,NaN,[Sport seats],NaN
empty_weight,NaN,NaN,NaN,NaN,"[\n1,545 kg\n]"
model_code,NaN,NaN,NaN,NaN,NaN
general_inspection,NaN,NaN,NaN,NaN,NaN
last_service,NaN,NaN,NaN,NaN,NaN
full_service_history,NaN,NaN,NaN,NaN,NaN
non_smoker_vehicle,NaN,NaN,NaN,NaN,NaN
emission_class,NaN,NaN,NaN,NaN,NaN
emissions_sticker,NaN,NaN,NaN,NaN,NaN
upholstery_colour,NaN,NaN,NaN,NaN,NaN
upholstery,NaN,NaN,NaN,NaN,NaN
production_date,NaN,NaN,NaN,NaN,NaN
previous_owner,NaN,NaN,NaN,NaN,NaN
other_fuel_types,NaN,NaN,NaN,NaN,NaN
power_consumption,NaN,NaN,NaN,NaN,NaN
energy_efficiency_class,NaN,NaN,NaN,NaN,NaN
co_efficiency,NaN,NaN,NaN,NaN,NaN
fuel_consumption_wltp,NaN,NaN,NaN,NaN,NaN
co_emissions_wltp,NaN,NaN,NaN,NaN,NaN
available_from,NaN,NaN,NaN,NaN,NaN
taxi_or_rental_car,NaN,NaN,NaN,NaN,NaN
availability,NaN,NaN,NaN,NaN,NaN
last_timing_belt_change,NaN,NaN,NaN,NaN,NaN
electric_range_wltp,NaN,NaN,NaN,NaN,NaN
power_consumption_wltp,NaN,NaN,NaN,NaN,NaN
battery_ownership,NaN,NaN,NaN,NaN,NaN

In [5]:
# skim(df)      Data frame hakkinda guzel gorsellestirilmis genel istatistiki bilgiler verir.

In [6]:
df.shape

(29480, 58)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29480 entries, 0 to 29479
Data columns (total 58 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   make_model               28630 non-null  object
 1   short_description        28630 non-null  object
 2   make                     28630 non-null  object
 3   model                    28630 non-null  object
 4   location                 28630 non-null  object
 5   price                    28630 non-null  object
 6   body_type                28630 non-null  object
 7   type                     28630 non-null  object
 8   doors                    28271 non-null  object
 9   country_version          16889 non-null  object
 10  offer_number             23100 non-null  object
 11  warranty                 15784 non-null  object
 12  mileage                  28629 non-null  object
 13  first_registration       28628 non-null  object
 14  gearbox                  28382 non-null  object
 15  fuel_type                26843 non-null  object
 16  colour                   26906 non-null  object
 17  paint                    14495 non-null  object
 18  desc                     28047 non-null  object
 19  seller                   28630 non-null  object
 20  seats                    25505 non-null  object
 21  power                    28058 non-null  object
 22  engine_size              27227 non-null  object
 23  gears                    18954 non-null  object
 24  co_emissions             18594 non-null  object
 25  manufacturer_colour      21787 non-null  object
 26  drivetrain               16893 non-null  object
 27  cylinders                18852 non-null  object
 28  fuel_consumption         23385 non-null  object
 29  comfort_&_convenience    25433 non-null  object
 30  entertainment_&_media    23644 non-null  object
 31  safety_&_security        25415 non-null  object
 32  extras                   23480 non-null  object
 33  empty_weight             17758 non-null  object
 34  model_code               8367 non-null   object
 35  general_inspection       12254 non-null  object
 36  last_service             2003 non-null   object
 37  full_service_history     12565 non-null  object
 38  non_smoker_vehicle       11594 non-null  object
 39  emission_class           17859 non-null  object
 40  emissions_sticker        9414 non-null   object
 41  upholstery_colour        14569 non-null  object
 42  upholstery               18610 non-null  object
 43  production_date          5908 non-null   float64
 44  previous_owner           14015 non-null  object
 45  other_fuel_types         2313 non-null   object
 46  power_consumption        515 non-null    object
 47  energy_efficiency_class  7804 non-null   object
 48  co_efficiency            7804 non-null   object
 49  fuel_consumption_wltp    100 non-null    object
 50  co_emissions_wltp        116 non-null    object
 51  available_from           393 non-null    object
 52  taxi_or_rental_car       422 non-null    object
 53  availability             301 non-null    object
 54  last_timing_belt_change  572 non-null    object
 55  electric_range_wltp      16 non-null     object
 56  power_consumption_wltp   16 non-null     object
 57  battery_ownership        7 non-null      object
dtypes: float64(1), object(57)
memory usage: 13.0+ MB

# PART- 1 `( Data Cleaning )`

<a id = "1"></a>
## <p style="background-color:#6b5b95; font-family:newtimeroman;color:#FFF9ED; font-size:150%; text-align:center; border-radius: 15px 50px;"> Reading and understanding data </p>

<a id = "1"></a>
### <p style="background-color:#6b5b95; font-family:newtimeroman;color:#FFF9ED; font-size:150%; text-align:left; border-radius: 15px 50px;">    Let's examine our data column by column </p>

### #3 make  &#9989;

In [8]:
df['make'].value_counts(dropna=False)

\nVolvo\n            3659
\nMercedes-Benz\n    2398
\nOpel\n             2385
\nPeugeot\n          2360
\nRenault\n          2351
\nFiat\n             2338
\nFord\n             2324
\nNissan\n           2064
\nToyota\n           2038
\nHyundai\n          1867
\nSEAT\n             1743
\nSkoda\n            1566
\nDacia\n            1537
NaN                   850
Name: make, dtype: int64

In [9]:
df['make'] = df.make.str.strip().astype('category')
df['make']

0        Mercedes-Benz
1        Mercedes-Benz
2        Mercedes-Benz
3        Mercedes-Benz
4        Mercedes-Benz
             ...
29475            Volvo
29476            Volvo
29477            Volvo
29478            Volvo
29479              NaN
Name: make, Length: 29480, dtype: category
Categories (13, object): ['Dacia', 'Fiat', 'Ford', 'Hyundai', ..., 'SEAT', 'Skoda', 'Toyota', 'Volvo']

### #4 model  &#9989;

In [10]:
df['model'].value_counts()

[\n, Megane ,\n]        863
[\n, Leon ,\n]          787
[\n, V40 ,\n]           740
[\n, Sandero ,\n]       730
[\n, i30 ,\n]           706
                       ...
[\n, GLA 35 AMG ,\n]      1
[\n, G 55 AMG ,\n]        1
[\n, Ariya ,\n]           1
[\n, 105 ,\n]             1
[\n, 244 ,\n]             1
Name: model, Length: 594, dtype: int64

In [122]:
df['model'] = df['model'].explode().str.strip('\n, ').str.replace(' ','')
df['model']

0          A160
1        EQE350
2        A45AMG
3        A35AMG
4        A45AMG
          ...
29475       S40
29476       C30
29477       S90
29478       S80
29479       NaN
Name: model, Length: 29480, dtype: object

### #5 price &#9989;

In [12]:
df['price'].sample(10)

688      € 164,900.-
25735      € 5,950.-
20036    € 104,950.-
23467     € 15,650.-
17497     € 19,990.-
15812     € 17,980.-
23938      € 2,949.-
27730     € 32,900.-
21566            NaN
10552     € 50,000.-
Name: price, dtype: object

In [13]:
df["price"] = df.price.str.strip("€-").str.replace(",", "").str.replace(" ", "").str.replace(".", "").astype(float)
df.price.sample(10)

7529     11850.0
17607    29000.0
2719     13990.0
21743    44980.0
8061     15200.0
21064    19480.0
1178     27990.0
13805    14775.0
1731     51849.0
17337    26220.0
Name: price, dtype: float64

### #6 body_type  &#9989;

In [14]:
df.body_type.value_counts(dropna=False)

[\n, Station wagon, \n]       5448
[\n, Off-Road/Pick-up, \n]    5415
[\n, Compact, \n]             5387
[\n, Sedan, \n]               5043
[\n, Coupe, \n]               4009
[\n, Convertible, \n]         3328
NaN                            850
Name: body_type, dtype: int64

In [15]:
df['body_type'] = df['body_type'].explode().str.strip().str.replace(',','').str.replace(' ','')
df['body_type']

0        Compact
1        Compact
2        Compact
3        Compact
4        Compact
          ...
29475      Sedan
29476      Sedan
29477      Sedan
29478      Sedan
29479        NaN
Name: body_type, Length: 29480, dtype: object

### #7 type &#9989;

In [16]:
df['type'].value_counts(dropna=False)

[\n, Used, \n]              25251
[\n, Demonstration, \n]      1433
[\n, Pre-registered, \n]     1377
NaN                           850
[\n, Employee's car, \n]      569
Name: type, dtype: int64

In [17]:
df['type'] = df.type.map(lambda x : x[0].split(",")[1].strip() if type(x) == list else x)

In [18]:
df['type'].sample(10)

5683     Used
29410    Used
23967    Used
28612    Used
12588    Used
13612    Used
29222    Used
5531     Used
3134     Used
21918    Used
Name: type, dtype: object

### #8 doors &#9989;

In [19]:
df['doors'].value_counts()

[\n, 5, \n]    17481
[\n, 2, \n]     5523
[\n, 4, \n]     3001
[\n, 3, \n]     2259
[\n, 6, \n]        5
[\n, 1, \n]        2
Name: doors, dtype: int64

In [20]:
df['doors'] = df['doors'].apply(lambda x : x[0].split(',')[1] if type(x) == list else x).astype(float)

In [21]:
df['doors']

0        5.0
1        4.0
2        5.0
3        5.0
4        5.0
        ...
29475    4.0
29476    3.0
29477    4.0
29478    4.0
29479    NaN
Name: doors, Length: 29480, dtype: float64

### #9 country_version  &#9989;

In [22]:
df['country_version'].value_counts()

[\n, Germany, \n]           7939
[\n, Spain, \n]             6376
[\n, Italy, \n]              679
[\n, Belgium, \n]            641
[\n, European Union, \n]     340
[\n, Netherlands, \n]        306
[\n, Austria, \n]            266
[\n, France, \n]             101
[\n, United States, \n]       57
[\n, Czechia, \n]             47
[\n, Poland, \n]              31
[\n, Hungary, \n]             21
[\n, Denmark, \n]             21
[\n, Romania, \n]             12
[\n, Japan, \n]               12
[\n, Switzerland, \n]          9
[\n, Luxembourg, \n]           9
[\n, Sweden, \n]               6
[\n, Slovenia, \n]             5
[\n, Slovakia, \n]             4
[\n, Croatia, \n]              3
[\n, Bulgaria, \n]             1
[\n, Malta, \n]                1
[\n, Canada, \n]               1
[\n, Mexico, \n]               1
Name: country_version, dtype: int64

In [23]:
df['country_version'] = df.country_version.str.join(",").str.strip('\n, ')
df['country_version'].value_counts()

Germany           7939
Spain             6376
Italy              679
Belgium            641
European Union     340
Netherlands        306
Austria            266
France             101
United States       57
Czechia             47
Poland              31
Hungary             21
Denmark             21
Romania             12
Japan               12
Switzerland          9
Luxembourg           9
Sweden               6
Slovenia             5
Slovakia             4
Croatia              3
Bulgaria             1
Malta                1
Canada               1
Mexico               1
Name: country_version, dtype: int64

### #10 offer_number  &#9989;

In [24]:
df['offer_number']

0         [\n, 7468157, \n]
1         [\n, 7054863, \n]
2         [\n, 7410454, \n]
3         [\n, 7464503, \n]
4         [\n, 7127931, \n]
                ...
29475    [\n, 09-PF-XS, \n]
29476                   NaN
29477        [\n, 2791, \n]
29478    [\n, 43-JR-LR, \n]
29479                   NaN
Name: offer_number, Length: 29480, dtype: object

In [25]:
df['offer_number'] = df['offer_number'].str.join(",").str.strip('\n, ')
df['offer_number']

0         7468157
1         7054863
2         7410454
3         7464503
4         7127931
           ...
29475    09-PF-XS
29476         NaN
29477        2791
29478    43-JR-LR
29479         NaN
Name: offer_number, Length: 29480, dtype: object

### #11 warranty

In [26]:
df['warranty'].value_counts(dropna=False)

NaN                     13696
[\n, 12 months, \n]      9545
[\n, Yes, \n]            2319
[\n, 24 months, \n]      1515
[\n, 60 months, \n]       968
                        ...
[\n, 55 months, \n]         1
[\n, 99 months, \n]         1
[\n, 122 months, \n]        1
[\n, 44 months, \n]         1
[\n, 4 months, \n]          1
Name: warranty, Length: 66, dtype: int64

In [27]:
df['warranty'] = df['warranty'].str.join(",").str.strip('\n, ')
df['warranty']

0        24 months
1        24 months
2        12 months
3        12 months
4        12 months
           ...
29475          NaN
29476    13 months
29477    12 months
29478          NaN
29479          NaN
Name: warranty, Length: 29480, dtype: object

In [28]:
###  SORU 01 ;  months'lari birakacak miyiz ? yoksa silmemiz gerekmez mi?

### #12 mileage  &#9989;

In [29]:
df['mileage']

0        120,200 km
1          5,000 km
2         18,900 km
3         18,995 km
4        197,000 km
            ...
29475    145,000 km
29476     96,000 km
29477     94,343 km
29478    230,047 km
29479           NaN
Name: mileage, Length: 29480, dtype: object

In [30]:
df["mileage"] = df.mileage.str.strip("\"dolar$km").str.replace(",", "").astype(float)
df.mileage

0        120200.0
1          5000.0
2         18900.0
3         18995.0
4        197000.0
           ...
29475    145000.0
29476     96000.0
29477     94343.0
29478    230047.0
29479         NaN
Name: mileage, Length: 29480, dtype: float64

### #13 first_registration

In [31]:
df['first_registration']

0        06/2016
1        06/2022
2        07/2020
3        01/2020
4        09/2015
          ...
29475    06/2004
29476    04/2011
29477    11/2017
29478    07/2002
29479        NaN
Name: first_registration, Length: 29480, dtype: object

In [32]:
# everything is up to date

### #14 gearbox  &#9989;

In [33]:
df['gearbox'].value_counts()

[\nManual\n]            17023
[\nAutomatic\n]         11287
[\nSemi-automatic\n]       72
Name: gearbox, dtype: int64

In [34]:
df['gearbox'] = df['gearbox'].str.join(",").str.strip()
df['gearbox']

0           Manual
1        Automatic
2        Automatic
3        Automatic
4        Automatic
           ...
29475    Automatic
29476       Manual
29477    Automatic
29478    Automatic
29479          NaN
Name: gearbox, Length: 29480, dtype: object

### #15 fuel_type

In [35]:
df['fuel_type'].value_counts()

Gasoline                                                                                              8532
Diesel                                                                                                5911
Super 95                                                                                              3557
Diesel (Particle filter)                                                                              2816
Regular/Benzine 91                                                                                    2065
Super E10 95                                                                                          1016
Regular/Benzine 91 (Particle filter)                                                                   555
Super 95 (Particle filter)                                                                             537
Super E10 95 (Particle filter)                                                                         324
Regular/Benzine E10 91                                                                                 278
Others                                                                                                 197
Gasoline (Particle filter)                                                                             196
Electric                                                                                               185
Super Plus 98                                                                                          170
Liquid petroleum gas (LPG)                                                                             148
CNG                                                                                                     87
LPG                                                                                                     73
Super Plus E10 98                                                                                       42
Super Plus E10 98 (Particle filter)                                                                     35
Domestic gas H                                                                                          24
Others (Particle filter)                                                                                16
Super Plus 98 (Particle filter)                                                                         15
Domestic gas L                                                                                          10
Regular/Benzine E10 91 (Particle filter)                                                                 8
CNG (Particle filter)                                                                                    8
LPG (Particle filter)                                                                                    4
Hydrogen                                                                                                 3
Liquid petroleum gas (LPG) (Particle filter) / Super 95 / Super E10 95                                   3
Electric (Particle filter)                                                                               3
Ethanol                                                                                                  3
Liquid petroleum gas (LPG) / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95                 2
Liquid petroleum gas (LPG) / Super 95 / Super E10 95 / Super Plus 98                                     2
Liquid petroleum gas (LPG) / Super 95                                                                    2
Liquid petroleum gas (LPG) (Particle filter)                                                             2
Domestic gas L (Particle filter)                                                                         2
Liquid petroleum gas (LPG) / Super 95 / Super E10 95                                                     2
Domestic gas H / Super E10 95 / Super Plus E10 98 / Super 95 / Super Plus 98 / Domestic gas L            1
Domestic gas L / Super 95 / Domestic gas H                                                               1
Super 95 / Super Plus 98 / Liquid petroleum gas (LPG)                                                    1
Biogas                                                                                                   1
Liquid petroleum gas (LPG) / Super 95 / Super Plus 98                                                    1
Liquid petroleum gas (LPG) / Super E10 95                                                                1
Liquid petroleum gas (LPG) / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Super 95                 1
Liquid petroleum gas (LPG) / Super E10 95 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Biogas       1
Super 95 (Particle filter) / Super E10 95 / Ethanol                                                      1
Super 95 / Liquid petroleum gas (LPG)                                                                    1
Name: fuel_type, dtype: int64

In [36]:
# SORU;  Nasil categorize edecegiz?

### #16 colour  &#9989;

In [37]:
df['colour'].value_counts(dropna=False)

Black     6473
Grey      5998
White     5185
Blue      3478
NaN       2574
Red       2242
Silver    1622
Green      450
Brown      437
Orange     288
Beige      278
Yellow     230
Violet      98
Bronze      65
Gold        62
Name: colour, dtype: int64

In [38]:
# everything up to date

### #17 paint

In [39]:
df['paint'].value_counts()

Metallic     14494
Uni/basic        1
Name: paint, dtype: int64

In [40]:
# SORU;  uni/basic droplanacak mi?

### #18 desc

In [41]:
df['desc']

0        [ , Precio al contado: 16950 euros,  ,  , Vehí...
1        [ , Precio al contado: 88900 euros,  , AUTO OJ...
2        [Gris MANUFAKTUR mountaingrau magno,  , Linea/...
3        [ , Precio al contado: 48990 euros,  ,  , BONI...
4        [ , Precio al contado: 17400 euros,  , Vehícul...
                               ...
29475    [Een goed rijdende auto met APK + NAP + Elektr...
29476    [*** VOLVO C30 2011 TRES PROPRE EN PARFAIT ETA...
29477    [Bekijk deze auto in unieke 360 graden present...
29478    [YOUNGTIMER !, Bedrijfsinformatie, NEEM VOOR U...
29479                                                  NaN
Name: desc, Length: 29480, dtype: object

In [42]:
### SORU: SAnirim droplanacak bir sutun. Bu kadar description nasil isimize yarayabilir ?

### #19 seller   &#9989;

In [43]:
df['seller'].value_counts()

Dealer            26318
Private seller     2312
Name: seller, dtype: int64

In [44]:
### Everything up to date

### #20 seats  &#9989;

In [45]:
df['seats'].value_counts()

[\n, 5, \n]     18308
[\n, 4, \n]      5390
[\n, 2, \n]      1186
[\n, 7, \n]       488
[\n, 8, \n]        43
[\n, 9, \n]        35
[\n, 3, \n]        25
[\n, 6, \n]        12
[\n, 0, \n]         9
[\n, 1, \n]         7
[\n, 17, \n]        2
Name: seats, dtype: int64

In [46]:
df['seats'] = df['seats'].str.join(",").str.strip('\n, ').astype('float')
df['seats']

0        NaN
1        5.0
2        5.0
3        5.0
4        5.0
        ...
29475    5.0
29476    4.0
29477    5.0
29478    5.0
29479    NaN
Name: seats, Length: 29480, dtype: float64

### #21 power &#9989;

In [47]:
df['power']

0                          NaN
1        [\n215 kW (292 hp)\n]
2        [\n310 kW (421 hp)\n]
3        [\n225 kW (306 hp)\n]
4        [\n100 kW (136 hp)\n]
                 ...
29475    [\n125 kW (170 hp)\n]
29476     [\n84 kW (114 hp)\n]
29477    [\n187 kW (254 hp)\n]
29478    [\n147 kW (200 hp)\n]
29479                      NaN
Name: power, Length: 29480, dtype: object

In [48]:
df['power'] = df['power'].str.join(",").str.replace(',','').str.extract("\((\d+,*\d*)").astype('float')
df['power']

0          NaN
1        292.0
2        421.0
3        306.0
4        136.0
         ...
29475    170.0
29476    114.0
29477    254.0
29478    200.0
29479      NaN
Name: power, Length: 29480, dtype: float64

### #22 engine_size  &#9989;

In [49]:
df['engine_size']

0                   NaN
1            [\n1 cc\n]
2        [\n1,991 cc\n]
3        [\n1,991 cc\n]
4        [\n2,143 cc\n]
              ...
29475    [\n2,435 cc\n]
29476    [\n1,560 cc\n]
29477    [\n1,969 cc\n]
29478    [\n2,922 cc\n]
29479               NaN
Name: engine_size, Length: 29480, dtype: object

In [50]:
df['engine_size'] = (df.engine_size.map(lambda x: x[0].strip("\n c").replace(",", "") if type(x) == list else x).astype(float) / 1000).astype(str).str.extract("(\d+\.*\d)")
df['engine_size'].astype(float)

0        NaN
1        0.0
2        1.9
3        1.9
4        2.1
        ...
29475    2.4
29476    1.5
29477    1.9
29478    2.9
29479    NaN
Name: engine_size, Length: 29480, dtype: float64

### #23 gears &#9989;

In [51]:
df['gears']

0            NaN
1        [\n9\n]
2        [\n8\n]
3        [\n7\n]
4        [\n7\n]
          ...
29475    [\n5\n]
29476    [\n6\n]
29477    [\n8\n]
29478        NaN
29479        NaN
Name: gears, Length: 29480, dtype: object

In [52]:
df['gears'] = df['gears'].str.join(",").str.strip().astype('float')
df['gears']

0        NaN
1        9.0
2        8.0
3        7.0
4        7.0
        ...
29475    5.0
29476    6.0
29477    8.0
29478    NaN
29479    NaN
Name: gears, Length: 29480, dtype: float64

### #24 co_emissions &#9989;

In [53]:
df['co_emissions']

0                     NaN
1          0 g/km (comb.)
2                     NaN
3                     NaN
4                     NaN
               ...
29475    217 g/km (comb.)
29476     99 g/km (comb.)
29477    149 g/km (comb.)
29478    251 g/km (comb.)
29479                 NaN
Name: co_emissions, Length: 29480, dtype: object

In [54]:
df['co_emissions'] = df['co_emissions'].str.findall("\d+").str.join(",").str.replace(',','').astype('float')
df['co_emissions']

0          NaN
1          0.0
2          NaN
3          NaN
4          NaN
         ...
29475    217.0
29476     99.0
29477    149.0
29478    251.0
29479      NaN
Name: co_emissions, Length: 29480, dtype: float64

### #25 manufacturer_colour &#9989;

In [55]:
df['manufacturer_colour']

0                                   NaN
1                       Negro Obsidiana
2                    Mountaingrau magno
3                          Amarillo Sol
4                                   NaN
                      ...
29475                             Grijs
29476                               NaN
29477    Denim Blue metallic (blauw met
29478                             Grijs
29479                               NaN
Name: manufacturer_colour, Length: 29480, dtype: object

In [56]:
df['manufacturer_colour'] = df['manufacturer_colour'].str.title()
df['manufacturer_colour']

0                                   NaN
1                       Negro Obsidiana
2                    Mountaingrau Magno
3                          Amarillo Sol
4                                   NaN
                      ...
29475                             Grijs
29476                               NaN
29477    Denim Blue Metallic (Blauw Met
29478                             Grijs
29479                               NaN
Name: manufacturer_colour, Length: 29480, dtype: object

 Note: Çok kirli bir data. Sonradan tekrar bakılacak

### #26 drivetrain &#9989;

In [57]:
df['drivetrain']

0                    NaN
1                    NaN
2          [\n, 4WD, \n]
3          [\n, 4WD, \n]
4          [\n, 4WD, \n]
              ...
29475    [\n, Front, \n]
29476    [\n, Front, \n]
29477                NaN
29478    [\n, Front, \n]
29479                NaN
Name: drivetrain, Length: 29480, dtype: object

In [58]:
df['drivetrain'] = df['drivetrain'].str.join(',').str.strip('\n ,')
df['drivetrain']

0          NaN
1          NaN
2          4WD
3          4WD
4          4WD
         ...
29475    Front
29476    Front
29477      NaN
29478    Front
29479      NaN
Name: drivetrain, Length: 29480, dtype: object

### #27 cylinders &#9989;

In [59]:
df['cylinders']

0            NaN
1            NaN
2        [\n4\n]
3        [\n4\n]
4        [\n4\n]
          ...
29475    [\n5\n]
29476    [\n4\n]
29477    [\n4\n]
29478    [\n6\n]
29479        NaN
Name: cylinders, Length: 29480, dtype: object

In [60]:
df['cylinders'] = df['cylinders'].str.join(',').str.strip().str.replace(',','.').astype('float')
df['cylinders']

0        NaN
1        NaN
2        4.0
3        4.0
4        4.0
        ...
29475    5.0
29476    4.0
29477    4.0
29478    6.0
29479    NaN
Name: cylinders, Length: 29480, dtype: float64

### #28 fuel_consumption &#9989;

In [61]:
df['fuel_consumption']  
# bu sutun dusurulecek cunku 'consumption_comb','consumption_city' ve 'consumption_country' olarak 3 ayri sutun olusturuldu

0                                                      NaN
1                                                      NaN
2        [[8.4 l/100 km (comb.)], [10.9 l/100 km (city)...
3        [[7.3 l/100 km (comb.)], [9.3 l/100 km (city)]...
4        [[4.9 l/100 km (comb.)], [5.7 l/100 km (city)]...
                               ...
29475    [[9.1 l/100 km (comb.)], [13.2 l/100 km (city)...
29476    [[3.8 l/100 km (comb.)], [4.3 l/100 km (city)]...
29477    [[6.5 l/100 km (comb.)], [8.6 l/100 km (city)]...
29478    [[10.4 l/100 km (comb.)], [15.3 l/100 km (city...
29479                                                  NaN
Name: fuel_consumption, Length: 29480, dtype: object

In [62]:
df['consumption_comb'] = df['fuel_consumption'].map(lambda x : x[0][0] if type(x)==list and (len(x) == 3 or len(x) == 1) and x[0] != [] else None)
df['consumption_comb'] = df['consumption_comb'].str.extract('(\d+\.*\d*).*').astype('float')
df['consumption_comb']

0         NaN
1         NaN
2         8.4
3         7.3
4         4.9
         ...
29475     9.1
29476     3.8
29477     6.5
29478    10.4
29479     NaN
Name: consumption_comb, Length: 29480, dtype: float64

In [63]:
df['consumption_city'] = df['fuel_consumption'].map(lambda x : x[1][0] if type(x)==list and len(x) == 3 and x[0] != [] else None)
df['consumption_city'] = df['consumption_city'].str.extract('(\d+\.*\d*).*').astype('float')
df['consumption_city']

0         NaN
1         NaN
2        10.9
3         9.3
4         5.7
         ...
29475    13.2
29476     4.3
29477     8.6
29478    15.3
29479     NaN
Name: consumption_city, Length: 29480, dtype: float64

In [64]:
df['consumption_country'] = df['fuel_consumption'].map(lambda x : x[2][0] if type(x)==list and len(x) == 3 and x[0] != [] else None)
df['consumption_country'] = df['consumption_country'].str.extract('(\d+\.*\d*).*').astype('float')
df['consumption_country']

0        NaN
1        NaN
2        5.8
3        6.1
4        4.4
        ...
29475    6.7
29476    3.5
29477    5.3
29478    7.6
29479    NaN
Name: consumption_country, Length: 29480, dtype: float64

In [65]:
#df.fuel_consumption.apply(lambda x: ",".join([item for sublist in x for item in sublist]) if type(x) == list else x).str.extract('(\d*\.\d*).*(\d+\.\d*).*(\d*\.\d*)')

### #29 comfort_&_convenience

In [66]:
df['comfort_&_convenience']  #categorize yapilacak

0                                                      NaN
1                                                      NaN
2                                                      NaN
3        [Air conditioning, Automatic climate control, ...
4        [Air conditioning, Electrical side mirrors, Mu...
                               ...
29475    [Air conditioning, Armrest, Automatic climate ...
29476    [Air conditioning, Armrest, Automatic climate ...
29477    [Air conditioning, Armrest, Automatic climate ...
29478    [Air conditioning, Armrest, Cruise control, El...
29479                                                  NaN
Name: comfort_&_convenience, Length: 29480, dtype: object

In [67]:
df['comfort_&_convenience'] = df['comfort_&_convenience'].str.join(',').str.title()
df['comfort_&_convenience']

0                                                      NaN
1                                                      NaN
2                                                      NaN
3        Air Conditioning, Automatic Climate Control, P...
4        Air Conditioning, Electrical Side Mirrors, Mul...
                               ...
29475    Air Conditioning, Armrest, Automatic Climate C...
29476    Air Conditioning, Armrest, Automatic Climate C...
29477    Air Conditioning, Armrest, Automatic Climate C...
29478    Air Conditioning, Armrest, Cruise Control, Ele...
29479                                                  NaN
Name: comfort_&_convenience, Length: 29480, dtype: object

In [68]:
len(df['comfort_&_convenience'].value_counts())

14438

### #30 entertainment_&_media

In [69]:
df['entertainment_&_media']  #categorize yapilacak

0                                                      NaN
1                                                      NaN
2                                                      NaN
3                                                    [USB]
4                         [Bluetooth, CD player, MP3, USB]
                               ...
29475                           [On-board computer, Radio]
29476    [Bluetooth, CD player, Hands-free equipment, M...
29477    [Android Auto, Apple CarPlay, Bluetooth, Hands...
29478                                  [On-board computer]
29479                                                  NaN
Name: entertainment_&_media, Length: 29480, dtype: object

In [70]:
df['entertainment_&_media'].explode()

0                                                      NaN
1                                                      NaN
2                                                      NaN
3                                                      USB
4                           Bluetooth, CD player, MP3, USB
                               ...
29475                             On-board computer, Radio
29476    Bluetooth, CD player, Hands-free equipment, MP...
29477    Android Auto, Apple CarPlay, Bluetooth, Hands-...
29478                                    On-board computer
29479                                                  NaN
Name: entertainment_&_media, Length: 29480, dtype: object

In [71]:
df['entertainment_&_media'].str.join(",").str.strip('\n, ')

0                                                      NaN
1                                                      NaN
2                                                      NaN
3                                                      USB
4                           Bluetooth, CD player, MP3, USB
                               ...
29475                             On-board computer, Radio
29476    Bluetooth, CD player, Hands-free equipment, MP...
29477    Android Auto, Apple CarPlay, Bluetooth, Hands-...
29478                                    On-board computer
29479                                                  NaN
Name: entertainment_&_media, Length: 29480, dtype: object

### #31 safety_&_security

In [72]:
df['safety_&_security']  #categorize yapilacak

0                                                      NaN
1                                                      NaN
2                                                      NaN
3        [ABS, Central door lock, Driver-side airbag, E...
4        [ABS, Central door lock, Driver-side airbag, E...
                               ...
29475    [ABS, Central door lock, Central door lock wit...
29476    [ABS, Alarm system, Central door lock with rem...
29477    [Adaptive Cruise Control, Adaptive headlights,...
29478    [ABS, Alarm system, Central door lock, Central...
29479                                                  NaN
Name: safety_&_security, Length: 29480, dtype: object

In [73]:
df['safety_&_security'].explode()

0                                                      NaN
1                                                      NaN
2                                                      NaN
3        ABS, Central door lock, Driver-side airbag, El...
4        ABS, Central door lock, Driver-side airbag, El...
                               ...
29475    ABS, Central door lock, Central door lock with...
29476    ABS, Alarm system, Central door lock with remo...
29477    Adaptive Cruise Control, Adaptive headlights, ...
29478    ABS, Alarm system, Central door lock, Central ...
29479                                                  NaN
Name: safety_&_security, Length: 29480, dtype: object

### #32 extras

In [74]:
df['extras']  #categorize yapilacak veri

0                                                      NaN
1                                                      NaN
2                                                      NaN
3                                            [Sport seats]
4                                                      NaN
                               ...
29475                  [Alloy wheels (16"), Trailer hitch]
29476    [Alloy wheels, Automatically dimming interior ...
29477    [Alloy wheels (18"), Automatically dimming int...
29478    [Alloy wheels, Automatically dimming interior ...
29479                                                  NaN
Name: extras, Length: 29480, dtype: object

In [75]:
df['extras'].explode()

0                                                      NaN
1                                                      NaN
2                                                      NaN
3                                              Sport seats
4                                                      NaN
                               ...
29475                    Alloy wheels (16"), Trailer hitch
29476    Alloy wheels, Automatically dimming interior m...
29477    Alloy wheels (18"), Automatically dimming inte...
29478    Alloy wheels, Automatically dimming interior m...
29479                                                  NaN
Name: extras, Length: 29480, dtype: object

In [76]:
df['extras'].str.join(',')

0                                                      NaN
1                                                      NaN
2                                                      NaN
3                                              Sport seats
4                                                      NaN
                               ...
29475                    Alloy wheels (16"), Trailer hitch
29476    Alloy wheels, Automatically dimming interior m...
29477    Alloy wheels (18"), Automatically dimming inte...
29478    Alloy wheels, Automatically dimming interior m...
29479                                                  NaN
Name: extras, Length: 29480, dtype: object

### #33 empty_weight &#9989;

In [77]:
df['empty_weight']

0                   NaN
1                   NaN
2                   NaN
3                   NaN
4        [\n1,545 kg\n]
              ...
29475    [\n1,357 kg\n]
29476    [\n1,356 kg\n]
29477    [\n1,617 kg\n]
29478    [\n1,573 kg\n]
29479               NaN
Name: empty_weight, Length: 29480, dtype: object

In [78]:
df['empty_weight'] = df['empty_weight'].explode().str.strip().str.replace(',','').str.replace(' kg','').astype('float')
df['empty_weight']

0           NaN
1           NaN
2           NaN
3           NaN
4        1545.0
          ...
29475    1357.0
29476    1356.0
29477    1617.0
29478    1573.0
29479       NaN
Name: empty_weight, Length: 29480, dtype: float64

### #34 model_code &#9989;

In [79]:
df['model_code'].sample(30)

18253                   NaN
18305                   NaN
11798                   NaN
4565     [\n, 1844/AAF, \n]
79                      NaN
27038                   NaN
9951                    NaN
17873                   NaN
10025                   NaN
27337    [\n, 9101/778, \n]
27626                   NaN
21488                   NaN
25374                   NaN
9933                    NaN
12842    [\n, 7593/AOB, \n]
453                     NaN
4682     [\n, 0035/BFM, \n]
13147                   NaN
769                     NaN
21883                   NaN
8094                    NaN
20057    [\n, 1329/AKD, \n]
27454                   NaN
12065    [\n, 7593/ANI, \n]
22728                   NaN
10352                   NaN
6273                    NaN
10385                   NaN
16964                   NaN
4187                    NaN
Name: model_code, dtype: object

In [80]:
df['model_code'] = df['model_code'].explode().str.strip().str.replace(',','').str.replace(' ','')
df['model_code'].sample(20)

9024          NaN
12808    7593/AMM
16543    8212/ACX
1479          NaN
19056         NaN
18477         NaN
4158          NaN
6186          NaN
26897         NaN
19679         NaN
8510          NaN
22625         NaN
24590         NaN
10422         NaN
13819         NaN
20389         NaN
15046         NaN
6844          NaN
20430         NaN
14744         NaN
Name: model_code, dtype: object

### #35 general_inspection

In [81]:
df['general_inspection']   #Date verisine mi cevirilecek yoksa categorize mi edilecek yada sadece yillari biraksak olur mu sor

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
          ...
29475    08/2023
29476        NaN
29477        New
29478    05/2023
29479        NaN
Name: general_inspection, Length: 29480, dtype: object

In [82]:
df['general_inspection'].sample(30)

9585         NaN
27623    11/2023
21288        New
7269         New
20291        New
26796        New
15023        NaN
306          NaN
5887         NaN
4853         NaN
12986        NaN
25357    01/2025
11668        NaN
21945    07/2023
27532        NaN
24735    02/2024
2168         NaN
4356         New
4416         New
21642    04/2024
7299     01/2023
11146        NaN
21554        NaN
20459        NaN
630          New
6258     09/2023
22226    04/2025
4493         NaN
8888     10/2023
25367        New
Name: general_inspection, dtype: object

### #36 last_service

In [83]:
df['last_service'].sample(20)  
# %93'u NaN data. Icinden cekebilecek bir sey yoksa en son sutunu dusur
#Date verisine mi cevirilecek yoksa categorize mi edilecek yada sadece yillari biraksak olur mu sor

2515         NaN
7694         NaN
19139        NaN
4511         NaN
22713        NaN
7373         NaN
1901         NaN
11500        NaN
20964        NaN
21530        NaN
26866    07/2022
20326        NaN
7379         NaN
29059        NaN
19182        NaN
20828        NaN
27049        NaN
28937        NaN
10959        NaN
21979    01/2022
Name: last_service, dtype: object

### #37 full_service_history

In [84]:
df['full_service_history'].value_counts()   # %57'si NaN

Yes    12565
Name: full_service_history, dtype: int64

### #38 non_smoker_vehicle

In [85]:
df['non_smoker_vehicle'].value_counts()

Yes    11594
Name: non_smoker_vehicle, dtype: int64

### #39 emission_class

In [86]:
df['emission_class'].value_counts()   #Euro 6'lari ne yapabiliriz?

Euro 6          6418
Euro 6d-TEMP    3399
Euro 6d         2858
Euro 5          2389
Euro 4          1743
Euro 3           523
Euro 2           217
Euro 1           172
Euro 6c          140
Name: emission_class, dtype: int64

### #40 emissions_sticker

In [87]:
df['emissions_sticker'].value_counts()

4 (Green)         9230
1 (No sticker)     176
3 (Yellow)           6
2 (Red)              2
Name: emissions_sticker, dtype: int64

### #41 upholstery_colour &#9989;

In [88]:
df['upholstery_colour'].value_counts()

Black     10416
Grey       2038
Other      1003
Beige       466
Brown       275
Red         159
White        93
Blue         82
Orange       23
Green         8
Yellow        6
Name: upholstery_colour, dtype: int64

### #42 upholstery &#9989;

In [89]:
df['upholstery'].value_counts()

Cloth           8736
Full leather    5439
Part leather    2835
alcantara        764
Other            628
Velour           208
Name: upholstery, dtype: int64

In [90]:
df['upholstery'] = df['upholstery'].str.title()
df['upholstery']

0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
             ...
29475             NaN
29476             NaN
29477    Full Leather
29478    Full Leather
29479             NaN
Name: upholstery, Length: 29480, dtype: object

### #43 production_date &#9989;

In [91]:
df['production_date'] = df['production_date'].astype('float')
df['production_date']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
29475   NaN
29476   NaN
29477   NaN
29478   NaN
29479   NaN
Name: production_date, Length: 29480, dtype: float64

### #44 previous_owner

In [92]:
df['previous_owner']  # Bu data kullanilacak mi karar ver. Kullanilacaksa teimzle, kullanilmacaksa dropla

0                               NaN
1                               NaN
2                               NaN
3                               NaN
4                               NaN
                    ...
29475                           NaN
29476     [[96,000 km, 04/2011], 1]
29477                           NaN
29478    [[230,047 km, 07/2002], 5]
29479                           NaN
Name: previous_owner, Length: 29480, dtype: object

In [93]:
df['previous_owner'].sample(30)

9243                            NaN
806                             NaN
4634      [[23,000 km, 06/2020], 1]
21962                           NaN
21770                           NaN
27609     [[66,882 km, 09/2018], 1]
526       [[63,019 km, 03/2018], 2]
12309                           NaN
28058                           NaN
25710                           NaN
11871                           NaN
29138     [[23,219 km, 04/2021], 1]
23418      [[7,727 km, 04/2021], 1]
18685                           NaN
26499                           NaN
14710      [[7,000 km, 03/2022], 1]
22132                           NaN
14048                           NaN
11204                           NaN
4630                            NaN
15754                           NaN
7019      [[79,000 km, 06/2017], 3]
26865    [[105,600 km, 09/2010], 1]
22681    [[107,000 km, 08/2015], 2]
8652      [[83,037 km, 04/2018], 1]
3951          [[10 km, 07/2022], 1]
6327                            NaN
16621         [[10 km, 05/2022], 1]
16723     [[73,261 km, 08/2015], 1]
22032     [[13,893 km, 06/2019], 2]
Name: previous_owner, dtype: object

### #45 other_fuel_types

In [94]:
df['other_fuel_types'].value_counts()   # %93'u missing value. fuel_type sutunuyla birlestirebilirsen birlestir yoksa dropla

Electricity     2301
Hydogen           11
Super E10 95       1
Name: other_fuel_types, dtype: int64

### #46 power_consumption

In [95]:
df['power_consumption'].value_counts() # %98'i missing value olan bir feature. diger verileri doldurmada ise yaramayacaksa dropla

0 kWh/100 km (comb.)       101
15.2 kWh/100 km (comb.)     30
15.7 kWh/100 km (comb.)     19
17.7 kWh/100 km (comb.)     17
15.9 kWh/100 km (comb.)     14
                          ...
12.9 kWh/100 km (comb.)      1
0.1 kWh/100 km (comb.)       1
23 kWh/100 km (comb.)        1
3.9 kWh/100 km (comb.)       1
18.3 kWh/100 km (comb.)      1
Name: power_consumption, Length: 104, dtype: int64

### #47 energy_efficiency_class

In [96]:
df['energy_efficiency_class'].value_counts()

B       2090
A       1687
C       1133
A+      1089
D        636
A+++     375
G        309
E        271
F        147
A++       67
Name: energy_efficiency_class, dtype: int64

### #48 co_efficiency

In [97]:
df['co_efficiency'].value_counts()

Calculated on basis of measured CO₂-emissions taking into account the mass of the vehicle.    7804
Name: co_efficiency, dtype: int64

### #49 fuel_consumption_wltp

In [98]:
df['fuel_consumption_wltp'].value_counts()

5.5 l/100 km     9
5 l/100 km       8
5.4 l/100 km     5
6.8 l/100 km     5
5.7 l/100 km     4
6.5 l/100 km     4
7.3 l/100 km     4
6.7 l/100 km     3
4.9 l/100 km     3
6.6 l/100 km     3
5.2 l/100 km     3
6.1 l/100 km     2
6.2 l/100 km     2
5.8 l/100 km     2
5.6 l/100 km     2
4.4 l/100 km     2
9.3 l/100 km     2
4.7 l/100 km     2
5.9 l/100 km     2
6.3 l/100 km     2
8.4 l/100 km     2
16 l/100 km      2
7.6 l/100 km     2
12.6 l/100 km    2
4.8 l/100 km     1
12 l/100 km      1
5.3 l/100 km     1
8 l/100 km       1
8.2 l/100 km     1
3.9 l/100 km     1
4.1 l/100 km     1
1.5 l/100 km     1
4.2 l/100 km     1
4.3 l/100 km     1
1.1 l/100 km     1
6.4 l/100 km     1
8.6 l/100 km     1
10.3 l/100 km    1
12.2 l/100 km    1
12.3 l/100 km    1
8.3 l/100 km     1
7.2 l/100 km     1
9.6 l/100 km     1
9.1 l/100 km     1
12.9 l/100 km    1
10.4 l/100 km    1
7.8 l/100 km     1
Name: fuel_consumption_wltp, dtype: int64

### #50 co_emissions_wltp

In [99]:
df['co_emissions_wltp'].value_counts()   #dropla

0 g/km (comb.)      14
125 g/km (comb.)     8
130 g/km (comb.)     4
129 g/km (comb.)     4
153 g/km (comb.)     3
                    ..
285 g/km (comb.)     1
211 g/km (comb.)     1
159 g/km (comb.)     1
115 g/km (comb.)     1
123 g/km (comb.)     1
Name: co_emissions_wltp, Length: 68, dtype: int64

### #51 available_from

In [100]:
df['available_from'].value_counts()  #droplanacak

[\n, 01/03/2023, \n]    34
[\n, 01/10/2026, \n]    23
[\n, 31/03/2023, \n]    17
[\n, 08/10/2022, \n]    15
[\n, 15/10/2022, \n]    13
                        ..
[\n, 24/10/2022, \n]     1
[\n, 27/03/2023, \n]     1
[\n, 03/02/2023, \n]     1
[\n, 27/10/2022, \n]     1
[\n, 12/10/2022, \n]     1
Name: available_from, Length: 125, dtype: int64

### #52 taxi_or_rental_car

In [101]:
df['taxi_or_rental_car'].value_counts()

Yes    422
Name: taxi_or_rental_car, dtype: int64

### #53 availability

In [102]:
df['availability'].value_counts()

[\n, in 1 day after order, \n]       64
[\n, in 5 days after order, \n]      56
[\n, in 7 days after order, \n]      31
[\n, in 3 days after order, \n]      25
[\n, in 14 days after order, \n]     22
[\n, in 60 days after order, \n]     21
[\n, in 42 days after order, \n]     15
[\n, in 180 days after order, \n]    12
[\n, in 90 days after order, \n]     10
[\n, in 120 days after order, \n]    10
[\n, in 6 days after order, \n]       9
[\n, in 270 days after order, \n]     8
[\n, in 28 days after order, \n]      5
[\n, in 2 days after order, \n]       5
[\n, in 4 days after order, \n]       4
[\n, in 21 days after order, \n]      2
[\n, in 360 days after order, \n]     1
[\n, in 150 days after order, \n]     1
Name: availability, dtype: int64

In [103]:
df['availability_days'] = df['availability'].map(lambda x : x[0].strip(",\n ") if type(x) == list else x).str.extract('(\d+\.*\d*)').astype("float")
df = df.drop('availability',axis=1)
df['availability_days'].value_counts()

1.0      64
5.0      56
7.0      31
3.0      25
14.0     22
60.0     21
42.0     15
180.0    12
90.0     10
120.0    10
6.0       9
270.0     8
28.0      5
2.0       5
4.0       4
21.0      2
360.0     1
150.0     1
Name: availability_days, dtype: int64

### #54 last_timing_belt_change

In [104]:
df['last_timing_belt_change'].value_counts()

04/2022    27
05/2021    26
08/2022    25
07/2022    24
07/2021    22
           ..
08/2015     1
02/2015     1
08/2016     1
02/2018     1
07/2016     1
Name: last_timing_belt_change, Length: 86, dtype: int64

### #55 electric_range_wltp

In [105]:
df = df.drop('electric_range_wltp',axis=1) # Dropped feature due to lack of data

### #56 power_consumption_wltp

In [106]:
df = df.drop('power_consumption_wltp',axis=1) # Dropped feature due to lack of data

### #57 battery_ownership

In [107]:
df = df.drop('battery_ownership',axis=1)  # Dropped feature due to lack of data

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29480 entries, 0 to 29479
Data columns (total 58 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   make_model               28630 non-null  object
 1   short_description        28630 non-null  object
 2   make                     28630 non-null  category
 3   model                    28630 non-null  object
 4   location                 28630 non-null  object
 5   price                    28630 non-null  float64
 6   body_type                28630 non-null  object
 7   type                     28630 non-null  object
 8   doors                    28271 non-null  float64
 9   country_version          16889 non-null  object
 10  offer_number             23100 non-null  object
 11  warranty                 15784 non-null  object
 12  mileage                  28629 non-null  float64
 13  first_registration       28628 non-null  object
 14  gearbox                  28382 non-null  object
 15  fuel_type                26843 non-null  object
 16  colour                   26906 non-null  object
 17  paint                    14495 non-null  object
 18  desc                     28047 non-null  object
 19  seller                   28630 non-null  object
 20  seats                    25505 non-null  float64
 21  power                    28058 non-null  float64
 22  engine_size              27227 non-null  object
 23  gears                    18954 non-null  float64
 24  co_emissions             18594 non-null  float64
 25  manufacturer_colour      21787 non-null  object
 26  drivetrain               16893 non-null  object
 27  cylinders                18852 non-null  float64
 28  fuel_consumption         23385 non-null  object
 29  comfort_&_convenience    25433 non-null  object
 30  entertainment_&_media    23644 non-null  object
 31  safety_&_security        25415 non-null  object
 32  extras                   23480 non-null  object
 33  empty_weight             17758 non-null  float64
 34  model_code               8367 non-null   object
 35  general_inspection       12254 non-null  object
 36  last_service             2003 non-null   object
 37  full_service_history     12565 non-null  object
 38  non_smoker_vehicle       11594 non-null  object
 39  emission_class           17859 non-null  object
 40  emissions_sticker        9414 non-null   object
 41  upholstery_colour        14569 non-null  object
 42  upholstery               18610 non-null  object
 43  production_date          5908 non-null   float64
 44  previous_owner           14015 non-null  object
 45  other_fuel_types         2313 non-null   object
 46  power_consumption        515 non-null    object
 47  energy_efficiency_class  7804 non-null   object
 48  co_efficiency            7804 non-null   object
 49  fuel_consumption_wltp    100 non-null    object
 50  co_emissions_wltp        116 non-null    object
 51  available_from           393 non-null    object
 52  taxi_or_rental_car       422 non-null    object
 53  last_timing_belt_change  572 non-null    object
 54  consumption_comb         23328 non-null  float64
 55  consumption_city         20100 non-null  float64
 56  consumption_country      20100 non-null  float64
 57  availability_days        301 non-null    float64
dtypes: category(1), float64(14), object(43)
memory usage: 12.8+ MB

In [109]:
df.head().T

,0,1,2,3,4
make_model,Mercedes-Benz A 160,Mercedes-Benz EQE 350,Mercedes-Benz A 45 AMG,Mercedes-Benz A 35 AMG,Mercedes-Benz A 45 AMG
short_description,CDi,350+,S 4Matic+ 8G-DCT,4Matic+ 7G-DCT,200CDI BE Line 4M 7G-DCT
make,Mercedes-Benz,Mercedes-Benz,Mercedes-Benz,Mercedes-Benz,Mercedes-Benz
model,"[\n, A 160 ,\n]","[\n, EQE 350 ,\n]","[\n, A 45 AMG ,\n]","[\n, A 35 AMG ,\n]","[\n, A 45 AMG ,\n]"
location,"P.I. EL PALMAR C/FORJA 6, 11500 PUERTO DE SAN...","APARTADO DE CORREOS 1032, 26140 LOGROÑO, ES","PORT. TARRACO, MOLL DE LLEVANT, Nº 5, LOC. 6-8...","Carrer de Provença, 31 Local, 8029 BARCELONA, ES","CARRIL ARAGONES 4, 30007 CASILLAS, ES"
price,16950.0,80900.0,69900.0,46990.0,16800.0
body_type,Compact,Compact,Compact,Compact,Compact
type,Used,Pre-registered,Used,Used,Used
doors,5.0,4.0,5.0,5.0,5.0
country_version,Spain,Spain,Spain,Spain,Spain
offer_number,7468157,7054863,7410454,7464503,7127931
warranty,24 months,24 months,12 months,12 months,12 months
mileage,120200.0,5000.0,18900.0,18995.0,197000.0
first_registration,06/2016,06/2022,07/2020,01/2020,09/2015
gearbox,Manual,Automatic,Automatic,Automatic,Automatic
fuel_type,Diesel,Electric,Gasoline,Gasoline,Diesel
colour,Black,NaN,Grey,Yellow,White
paint,Metallic,NaN,NaN,NaN,Metallic
desc,"[ , Precio al contado: 16950 euros, , , Vehí...","[ , Precio al contado: 88900 euros, , AUTO OJ...","[Gris MANUFAKTUR mountaingrau magno, , Linea/...","[ , Precio al contado: 48990 euros, , , BONI...","[ , Precio al contado: 17400 euros, , Vehícul..."
seller,Dealer,Dealer,Dealer,Dealer,Dealer
seats,NaN,5.0,5.0,5.0,5.0
power,NaN,292.0,421.0,306.0,136.0
engine_size,NaN,0.0,1.9,1.9,2.1
gears,NaN,9.0,8.0,7.0,7.0
co_emissions,NaN,0.0,NaN,NaN,NaN
manufacturer_colour,NaN,Negro Obsidiana,Mountaingrau Magno,Amarillo Sol,NaN
drivetrain,NaN,NaN,4WD,4WD,4WD
cylinders,NaN,NaN,4.0,4.0,4.0
fuel_consumption,NaN,NaN,"[[8.4 l/100 km (comb.)], [10.9 l/100 km (city)...","[[7.3 l/100 km (comb.)], [9.3 l/100 km (city)]...","[[4.9 l/100 km (comb.)], [5.7 l/100 km (city)]..."
comfort_&_convenience,NaN,NaN,NaN,"Air Conditioning, Automatic Climate Control, P...","Air Conditioning, Electrical Side Mirrors, Mul..."
entertainment_&_media,NaN,NaN,NaN,[USB],"[Bluetooth, CD player, MP3, USB]"
safety_&_security,NaN,NaN,NaN,"[ABS, Central door lock, Driver-side airbag, E...","[ABS, Central door lock, Driver-side airbag, E..."
extras,NaN,NaN,NaN,[Sport seats],NaN
empty_weight,NaN,NaN,NaN,NaN,1545.0
model_code,NaN,NaN,NaN,NaN,NaN
general_inspection,NaN,NaN,NaN,NaN,NaN
last_service,NaN,NaN,NaN,NaN,NaN
full_service_history,NaN,NaN,NaN,NaN,NaN
non_smoker_vehicle,NaN,NaN,NaN,NaN,NaN
emission_class,NaN,NaN,NaN,NaN,NaN
emissions_sticker,NaN,NaN,NaN,NaN,NaN
upholstery_colour,NaN,NaN,NaN,NaN,NaN
upholstery,NaN,NaN,NaN,NaN,NaN
production_date,NaN,NaN,NaN,NaN,NaN
previous_owner,NaN,NaN,NaN,NaN,NaN
other_fuel_types,NaN,NaN,NaN,NaN,NaN
power_consumption,NaN,NaN,NaN,NaN,NaN
energy_efficiency_class,NaN,NaN,NaN,NaN,NaN
co_efficiency,NaN,NaN,NaN,NaN,NaN
fuel_consumption_wltp,NaN,NaN,NaN,NaN,NaN
co_emissions_wltp,NaN,NaN,NaN,NaN,NaN
available_from,NaN,NaN,NaN,NaN,NaN
taxi_or_rental_car,NaN,NaN,NaN,NaN,NaN
last_timing_belt_change,NaN,NaN,NaN,NaN,NaN
consumption_comb,NaN,NaN,8.4,7.3,4.9
consumption_city,NaN,NaN,10.9,9.3,5.7
consumption_country,NaN,NaN,5.8,6.1,4.4
availability_days,NaN,NaN,NaN,NaN,NaN

In [110]:
# df['col'] = df.col.str.extract('(regex gruplanacak)')   ile istedigin veriyi cekip featurea atabilirsin

In [111]:
# data temizlendikten sonra datamizin cor iliskisine heatmaple bak S20-part2 20:00

#plt.figure(figsize=(12,10))
# sns.heatmap(df.cor(),annot=True)

# PART- 2 `( Handling With Missing Vales )`

## Let s recognize our missing values

In [112]:
## Some Useful User-Defined-Functions

###############################################################################

def missing_values(df):
    missing_number = df.isnull().sum().sort_values(ascending=False)
    missing_percent = (df.isnull().sum()/df.isnull().count()*100).sort_values(ascending=False)
    missing_values = pd.concat([missing_number, missing_percent], axis=1, keys=['Missing_Number', 'Missing_Percent'])
    return missing_values[missing_values['Missing_Number']>0]
                    
###############################################################################

In [113]:
missing_values(df).head(60)

                         Missing_Number  Missing_Percent
fuel_consumption_wltp             29380        99.660787
co_emissions_wltp                 29364        99.606513
availability_days                 29179        98.978969
available_from                    29087        98.666893
taxi_or_rental_car                29058        98.568521
power_consumption                 28965        98.253053
last_timing_belt_change           28908        98.059701
last_service                      27477        93.205563
other_fuel_types                  27167        92.154003
production_date                   23572        79.959294
co_efficiency                     21676        73.527815
energy_efficiency_class           21676        73.527815
model_code                        21113        71.618046
emissions_sticker                 20066        68.066486
non_smoker_vehicle                17886        60.671642
general_inspection                17226        58.432836
full_service_history              16915        57.377883
previous_owner                    15465        52.459294
paint                             14985        50.831072
upholstery_colour                 14911        50.580054
warranty                          13696        46.458616
country_version                   12591        42.710312
drivetrain                        12587        42.696744
empty_weight                      11722        39.762551
emission_class                    11621        39.419946
co_emissions                      10886        36.926730
upholstery                        10870        36.872456
cylinders                         10628        36.051560
gears                             10526        35.705563
consumption_city                   9380        31.818182
consumption_country                9380        31.818182
manufacturer_colour                7693        26.095658
offer_number                       6380        21.641791
consumption_comb                   6152        20.868385
fuel_consumption                   6095        20.675034
extras                             6000        20.352782
entertainment_&_media              5836        19.796472
safety_&_security                  4065        13.789009
comfort_&_convenience              4047        13.727951
seats                              3975        13.483718
fuel_type                          2637         8.945047
colour                             2574         8.731343
engine_size                        2253         7.642469
desc                               1433         4.860923
power                              1422         4.823609
doors                              1209         4.101085
gearbox                            1098         3.724559
first_registration                  852         2.890095
mileage                             851         2.886703
price                               850         2.883311
make                                850         2.883311
model                               850         2.883311
location                            850         2.883311
short_description                   850         2.883311
body_type                           850         2.883311
type                                850         2.883311
seller                              850         2.883311
make_model                          850         2.883311

In [114]:
# kardinalitesi yuksek sutunlari datamizdan dusmemiz gerekiyor. her bir arac ozelinde analiz yapmiyorsak unique degerleri olan
# sutunlari dusmemiz gerekir. s20-part01 sonu

# df = df.drop(['col1','col2'],axis=1)

# PART- 3 `( Handling With Outliers )`

# Final Step (Checking final situation of data via graphs)

## Export dataframe to csv file (without dummy)

In [115]:
# df.to_csv("final_scout_not_dummy.csv", index=False)

# Dummy Operation

In [116]:
#  df_dummy = pd.get_dummies(data=df_final, drop_first=True)    
#  df_dummy                              get dummy yaparak dataseti icerisinde ki categorical verileri numeric hale getiricez

## Export dataframe to csv file (dummy)

In [117]:
# df_dummied.to_csv("final_scout_dummy.csv", index=False)