In [2]:
%%javascript
/** Below because this notebook is pretty large */
var rto = 180;
console.log('NB: Increase require timeout to ' + rto + ' seconds');
window.requirejs.config({waitSeconds: rto});

<a href="https://clarusway.com/contact-us/"><img align="center" src="https://i.ibb.co/B43qn24/officially-licensed-logo.png" alt="Open in Clarusway LMS" width="110" height="200" title="This notebook is licensed by Clarusway IT training school. Please contact the authorized persons about the conditions under which you can use or share."></a>

___

<a href="https://lms.clarusway.com/mod/lesson/view.php?id=8511&pageid=8142&startlastseen=no"><img align="left" src="https://i.ibb.co/6Z5pQxD/lmss.png" alt="Open in Clarusway LMS" width="70" height="200" title="Open Clarusway Learning Management Sytem"></a>

<a href=""><img align="right" src="https://i.ibb.co/n3HWyQX/github-logo.png" alt="Open in Clarusway GitHub" width="100" height="150" title="Open and Execute in Clarusway GitHub Repository"></a>

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

<img src=https://i.ibb.co/b5xXg11/used-cars1.jpg width="1100" height="100">

[Image Credit](https://myscriptneedshelp.com/2022/auto/buying-used-cars-in-tempe-is-easier-now/)

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">The Capstone Project of Data Analytics Module</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Car Price Prediction EDA</p>

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Content</p>

* [IMPORTING LIBRARIES NEEDED IN THIS NOTEBOOK](#0)
* [PART-02 (HANDLING WITH MISSING VALUES)](#1)
* [THE EXAMINATION OF MISSING VALUES IN THE COLUMNS](#2)    
* [THE END OF MISSING VALUES (PART - 02)](#3)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Importing Libraries Needed in This Notebook</p>

<a id="0"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

If you have NOT installed NumPy & Pandas so far, once you've installed them you can import them as a library and other libraries need in this analysis:

In [34]:
import numpy as np
import pandas as pd
import seaborn as sns 
# import matplotlib.pyplot as plt
# from scipy import stats
# from scipy.stats.mstats import winsorize
import re

from ipywidgets import interact, Dropdown, IntSlider, Output, widgets
from IPython.display import display

import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

# %matplotlib inline
# # %matplotlib notebook

# plt.rcParams["figure.figsize"] = (10, 6)
# # plt.rcParams['figure.dpi'] = 100

# sns.set_style("whitegrid")
# pd.set_option('display.float_format', lambda x: '%.2f' % x)

# pd.options.display.max_rows = 500
# # pd.set_option('display.max_rows', None)
# pd.options.display.max_columns = 150

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">PART- 02 (Handling with Missing Values)</p>

<a id="1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [4]:
df0 = pd.read_csv("as24cars_clean_data.csv")
df = df0.copy()

In [5]:
df.head(3).T

,0,1,2
make_model,Mercedes-Benz A 160,Mercedes-Benz EQE 350,Mercedes-Benz A 45 AMG
short_description,CDi,350+,S 4Matic+ 8G-DCT
make,Mercedes-Benz,Mercedes-Benz,Mercedes-Benz
model,A 160,EQE 350,A 45 AMG
location,"P.I. EL PALMAR C/FORJA 6, 11500 PUERTO DE SAN...","APARTADO DE CORREOS 1032, 26140 LOGROÑO, ES","PORT. TARRACO, MOLL DE LLEVANT, Nº 5, LOC. 6-8..."
price,16950.0,80900.0,69900.0
body_type,Compact,Compact,Compact
type,Used,Pre-registered,Used
doors,5.0,4.0,5.0
warranty,24.0,24.0,12.0
mileage,120200.0,5000.0,18900.0
gearbox,Manual,Automatic,Automatic
fuel_type,Diesel,Electric,Benzine
seller,Dealer,Dealer,Dealer
seats,NaN,5.0,5.0
engine_size,NaN,1.0,1991.0
gears,NaN,9.0,8.0
co_emissions,NaN,0.0,NaN
drivetrain,NaN,NaN,4WD
cylinders,NaN,NaN,4.0
comfort_&_convenience,NaN,NaN,NaN
entertainment_&_media,NaN,NaN,NaN
safety_&_security,NaN,NaN,NaN
extras,NaN,NaN,NaN
empty_weight,NaN,NaN,NaN
full_service_history,No,No,No
upholstery,NaN,NaN,NaN
previous_owner,NaN,NaN,NaN
energy_efficiency_class,NaN,NaN,NaN
age,6.0,0.0,2.0
power_kW,NaN,215.0,310.0
power_hp,NaN,292.0,421.0
cons_avg,NaN,NaN,8.4
cons_city,NaN,NaN,10.9
cons_country,NaN,NaN,5.8

In [6]:
df.shape

(28630, 35)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28630 entries, 0 to 28629
Data columns (total 35 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   make_model               28630 non-null  object
 1   short_description        28417 non-null  object
 2   make                     28630 non-null  object
 3   model                    28354 non-null  object
 4   location                 28630 non-null  object
 5   price                    28630 non-null  float64
 6   body_type                28630 non-null  object
 7   type                     28630 non-null  object
 8   doors                    28271 non-null  float64
 9   warranty                 13465 non-null  float64
 10  mileage                  28629 non-null  float64
 11  gearbox                  28382 non-null  object
 12  fuel_type                26843 non-null  object
 13  seller                   28630 non-null  object
 14  seats                    25505 non-null  float64
 15  engine_size              27227 non-null  float64
 16  gears                    18954 non-null  float64
 17  co_emissions             18594 non-null  float64
 18  drivetrain               16893 non-null  object
 19  cylinders                18852 non-null  float64
 20  comfort_&_convenience    25433 non-null  object
 21  entertainment_&_media    23644 non-null  object
 22  safety_&_security        25415 non-null  object
 23  extras                   23480 non-null  object
 24  empty_weight             17758 non-null  float64
 25  full_service_history     28630 non-null  object
 26  upholstery               18610 non-null  object
 27  previous_owner           14015 non-null  float64
 28  energy_efficiency_class  7804 non-null   object
 29  age                      28628 non-null  float64
 30  power_kW                 28058 non-null  float64
 31  power_hp                 28058 non-null  float64
 32  cons_avg                 23385 non-null  float64
 33  cons_city                20100 non-null  float64
 34  cons_country             20100 non-null  float64
dtypes: float64(17), object(18)
memory usage: 7.6+ MB

In [8]:
class color:
    PURPLE = '\033[95m'
    CYAN = '\033[96m'
    DARKCYAN = '\033[36m'
    BLUE = '\033[94m'
    GREEN = '\033[92m'
    YELLOW = '\033[93m'
    RED = '\033[91m'
    BOLD = '\033[1m'
    UNDERLINE = '\033[4m'
    END = '\033[0m'

def check_obj_columns(df):
    '''
    Returns NO PROBLEM or column/s which has/have mixed object types.
    '''    
    
    tdf = df.select_dtypes(include=['object']).applymap(type)
    for col in tdf:
        if len(set(tdf[col].values)) > 1:
            print("Column" + " " + color.BOLD + color.RED + col + color.END + " " + "has mixed object types." )
    else:
        if len(set(tdf[col].values)) == 1:
            print(color.BOLD + color.GREEN + " " + "NO PROBLEM" + " " + color.END + " " + "with the data types of Columns in the DataFrame.")

check_obj_columns(df)

Column short_description has mixed object types.
Column model has mixed object types.
Column gearbox has mixed object types.
Column fuel_type has mixed object types.
Column drivetrain has mixed object types.
Column comfort_&_convenience has mixed object types.
Column entertainment_&_media has mixed object types.
Column safety_&_security has mixed object types.
Column extras has mixed object types.
Column upholstery has mixed object types.
Column energy_efficiency_class has mixed object types.

### The Examination of Missing Values:

In [9]:
# Here, the columns with even one missing value are collected in a list by means of the concept of List Comprehension. 
# And then, the percentage of each feature/column is represented in the output.  

miss_val = []
[miss_val.append(column) for column in df.columns if any(df[column].isnull())]

missing_percentage = df[miss_val].isnull().sum()*100 / df[miss_val].shape[0]
missing_percentage = missing_percentage.sort_values(ascending=False)
print("Columns that have missing values :")
print("---"*11)
print(f"{miss_val}\n\n{missing_percentage}")

Columns that have missing values :
---------------------------------
['short_description', 'model', 'doors', 'warranty', 'mileage', 'gearbox', 'fuel_type', 'seats', 'engine_size', 'gears', 'co_emissions', 'drivetrain', 'cylinders', 'comfort_&_convenience', 'entertainment_&_media', 'safety_&_security', 'extras', 'empty_weight', 'upholstery', 'previous_owner', 'energy_efficiency_class', 'age', 'power_kW', 'power_hp', 'cons_avg', 'cons_city', 'cons_country']

energy_efficiency_class    72.741879
warranty                   52.968914
previous_owner             51.047852
drivetrain                 40.995459
empty_weight               37.974153
co_emissions               35.054139
upholstery                 34.998254
cylinders                  34.152986
gears                      33.796717
cons_country               29.793922
cons_city                  29.793922
cons_avg                   18.319944
extras                     17.988124
entertainment_&_media      17.415299
safety_&_security          11.229480
comfort_&_convenience      11.166608
seats                      10.915124
fuel_type                   6.241705
engine_size                 4.900454
power_kW                    1.997904
power_hp                    1.997904
doors                       1.253929
model                       0.964024
gearbox                     0.866224
short_description           0.743975
age                         0.006986
mileage                     0.003493
dtype: float64

In [10]:
def df_nans(df, limit):
    """
    Returns a Pandas Series containing the percentage of missing values in each column of the input DataFrame 'df' that
    exceeds the given 'limit'.

    Parameters:
    -----------
    df : pandas.DataFrame
        The DataFrame to analyze for missing values.
    limit : float
        The threshold (in percentage) above which to consider a column as having too many missing values.

    Returns:
    --------
    pandas.Series
        A Series containing the percentage of missing values in each column of the input DataFrame 'df' that exceeds
        the given 'limit'.
        If no column has missing values that exceed the given limit, returns a string message indicating this.
    """
    missing = df.isnull().sum()*100 / df.shape[0]
    missing = missing.loc[lambda x : x >= limit]
    if missing.empty:
        return "No columns have missing values that exceed the given limit."
    else:
        return missing

def show_missing_values(limit):
    return df_nans(df, limit)

def column_nans(serial):
    # display percentage of NaNs in a Series
    return serial.isnull().sum()*100 / serial.shape[0]

In [11]:
# Let's explore the percentage of missing values in each column that exceeds the given 'limit'.

interact(show_missing_values, limit=(0, 100, 5));

interactive(children=(IntSlider(value=50, description='limit', step=5), Output()), _dom_classes=('widget-inter…

### The Examination of Duplicated Values:

In [12]:
df.duplicated(keep=False).sum()

3861

In [13]:
df[df.duplicated(keep=False)]

,make_model,short_description,make,model,location,price,body_type,type,doors,warranty,...,full_service_history,upholstery,previous_owner,energy_efficiency_class,age,power_kW,power_hp,cons_avg,cons_city,cons_country
142,Mercedes-Benz A 45 AMG,S 4Matic+ 8G-DCT,Mercedes-Benz,A 45 AMG,"RONDA PONENT 62, 8201 SABADELL, ES",72890.0,Compact,Used,5.0,12.0,...,No,NaN,NaN,NaN,1.0,310.0,421.0,8.4,10.9,5.8
237,Mercedes-Benz CL,200 163ch AMG Line 7G-DCT 9cv,Mercedes-Benz,CL,"--, 77240 Vert St Denis, FR",39990.0,Compact,Used,5.0,NaN,...,No,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
253,Mercedes-Benz CL,200 163ch AMG Line 7G-DCT 9cv,Mercedes-Benz,CL,"--, 77240 Vert St Denis, FR",39990.0,Compact,Used,5.0,NaN,...,No,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
263,Mercedes-Benz CL,200 163ch AMG Line 7G-DCT 9cv,Mercedes-Benz,CL,"--, 77240 Vert St Denis, FR",39990.0,Compact,Used,5.0,NaN,...,No,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
276,Mercedes-Benz A 45 AMG,S 4Matic+ 8G-DCT,Mercedes-Benz,A 45 AMG,"RONDA PONENT 62, 8201 SABADELL, ES",72890.0,Compact,Used,5.0,12.0,...,No,NaN,NaN,NaN,1.0,310.0,421.0,8.4,10.9,5.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28253,Volvo V60 Cross Country,D4 AWD Geartronic Pro,Volvo,V60 Cross Country,"Via Ca' Baroncello, 32/B, 36061 Bassano Del G...",32500.0,Station wagon,Used,5.0,NaN,...,No,Full leather,NaN,NaN,3.0,140.0,190.0,5.4,6.3,4.9
28556,Volvo S90,D5 AWD R Design SchiebeD LED Nav WinterP 19Z,Volvo,S90,"Von-Drais-Str. 2, 77855 Achern, DE",31488.0,Sedan,Used,4.0,NaN,...,No,Full leather,NaN,efficient,5.0,173.0,235.0,4.8,5.7,4.3
28557,Volvo S90,D5 AWD R Design SchiebeD LED Nav WinterP 19Z,Volvo,S90,"Von-Drais-Str. 2, 77855 Achern, DE",31488.0,Sedan,Used,4.0,NaN,...,No,Full leather,NaN,efficient,5.0,173.0,235.0,4.8,5.7,4.3
28593,Volvo V40,D3 150ch R-Design Geartronic,Volvo,V40,"19 rue des Alliés, 57050 Metz, FR",18999.0,Sedan,Used,5.0,12.0,...,No,NaN,NaN,NaN,4.0,112.0,152.0,NaN,NaN,NaN
28595,Volvo V40,D3 150ch R-Design Geartronic,Volvo,V40,"19 rue des Alliés, 57050 Metz, FR",18999.0,Sedan,Used,5.0,12.0,...,No,NaN,NaN,NaN,4.0,112.0,152.0,NaN,NaN,NaN

### ⚠️ 🔥 SPECIAL NOTE:


<div style="background-color: cyan; padding: 10px; font-size: 14px; font-weight: bold;">
    The duplicated values in the DataFrame will be taken care of after some Exploratory Data Analysis processes.
</div>

## User Defined Functions (DEFs) to fill the missing values:

### 1) first_looking(col)

In [14]:
def first_looking(*cols):
    """
    Prints basic information about given columns in a Pandas DataFrame.

    Parameters:
    *cols (str): The names of the columns to analyze.

    Returns:
    None.

    Prints:
    - The name of each column.
    - The percentage of null values in each column.
    - The number of null values in each column.
    - The number of unique values in each column.
    - The value counts for each unique value in each column, including null values.
    """
    for col in cols:
        print("COLUMN NAME    : ", col)
        print("--------------------------------")
        print("per_of_nulls   : ", "%", round(df[col].isnull().sum()*100 / df.shape[0], 2))
        print("num_of_nulls   : ", df[col].isnull().sum())
        print("num_of_uniques : ", df[col].nunique())
        print("--------------------------------")
        print(df[col].value_counts(dropna=False))
        print("\n")

This is a Python User Defined Function (DEF) called ``first_looking`` that takes a column name as input (col). The function is designed to provide an initial analysis of a given column in a Pandas DataFrame (df).

The function first prints the column name, followed by a line of dashes for formatting. It then calculates and prints the percentage of null values in the column (per_of_nulls), the number of null values in the column (num_of_nulls), and the number of unique values in the column (num_of_uniques), each on a separate line.

After printing these summary statistics, the function prints another line of dashes for formatting, followed by a Pandas value_counts() method call that prints the frequency of each unique value in the column, including NaN values (if any). This can help identify common values and outliers in the data, as well as any potential issues, such as missing or incorrect data.

Overall, the first_looking function provides a quick and easy way to get a first look at a given column in a Pandas DataFrame, including basic summary statistics and value frequencies.

### 2) fill_most_freq(df, group_col, col_name)

In [15]:
def fill_most_freq(df, group_col, col_name):
    """
    Fills missing values in a column of a Pandas DataFrame `df` with the most frequent value 
    in each group defined by a grouping column.

    Parameters:
    df (pandas.DataFrame): The DataFrame to operate on.
    group_col (str): The name of the grouping column.
    col_name (str): The name of the column to fill missing values in.

    Returns:
    None.

    Prints:
    - The name of the column that was filled.
    - The percentage of null values in the column after filling.
    - The number of null values in the column after filling.
    - The number of unique values in the column after filling.
    - The value counts for each unique value in the column after filling, including null values, sorted by index.
    """    
    for group in list(df[group_col].unique()):
        cond = df[group_col]==group
        mode = list(df[cond][col_name].mode())
        if mode != []:
            df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[cond][col_name].mode()[0])
        else:
            df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[col_name].mode()[0])
    
    print("COLUMN NAME    : ", col_name)
    print("--------------------------------")
    print("per_of_nulls   : ", "%", round(df[col_name].isnull().sum()*100 / df.shape[0], 2))
    print("num_of_nulls   : ", df[col_name].isnull().sum())
    print("num_of_uniques : ", df[col_name].nunique())
    print("--------------------------------")
    print(df[col_name].value_counts(dropna = False).sort_index())

This is a Python User Defined Function (DEF) called ``fill_most_freq`` that takes three (3) input parameters: a Pandas DataFrame (df), the name of a column to group by (group_col), and the name of a column to fill missing values in (col_name).

This for loop in the DEF is used to fill missing values in a specific column of a pandas DataFrame df based on the values in another column. Here's what's happening in each line of the loop:

  - ``for group in list(df[group_col].unique())``: - This line iterates over all the unique values in the column specified by group_col. Each unique value is stored in the variable group.

  - ``cond = df[group_col]==group`` - This line creates a boolean Series cond with True values for all rows in df where the value in the column group_col is equal to group.

  - ``mode = list(df[cond][col_name].mode())`` - This line calculates the mode of the column specified by col_name for all rows where the cond Series is True. The mode is stored as a list in the variable mode.

  - ``if mode != []``: - This line checks if mode is not an empty list.

  - ``df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[cond][col_name].mode()[0])`` - This line fills missing values in the column specified by col_name for all rows where the cond Series is True. The missing values are filled using the mode of the column for rows where the value in the column group_col is equal to group.

  - ``else``: - This line executes if mode is an empty list.

  - ``df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[col_name].mode()[0])`` - This line fills missing values in the column specified by col_name for all rows where the cond Series is True, but the mode of the column for rows where the value in the column group_col is equal to group is not available. The missing values are filled using the mode of the column for all rows in the DataFrame.

Overall, this User Defined Function (DEF) called ``fill_most_freq`` fills missing values in a specific column of a DataFrame based on the values in another column, with the goal of preserving group-specific information and filling missing values intelligently.

### 3) fill_mode(df, group_col1, group_col2, col_name)

In [16]:
def fill_mode(df, group_col1, group_col2, col_name):
    """
    Fills missing values in a column of a Pandas DataFrame `df` based on the values in two other columns.

    Parameters:
    df (pandas.DataFrame): The DataFrame to operate on.
    group_col1 (str): The name of the first grouping column.
    group_col2 (str): The name of the second grouping column.
    col_name (str): The name of the column to fill missing values in.

    Returns:
    None.

    Prints:
    - The name of the column that was filled.
    - The percentage of null values in the column after filling.
    - The number of null values in the column after filling.
    - The number of unique values in the column after filling.
    - The value counts for each unique value in the column after filling, including null values.
    """    
    for group1 in list(df[group_col1].unique()):
        for group2 in list(df[group_col2].unique()):
            cond1 = df[group_col1]==group1
            cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
            mode1 = list(df[cond1][col_name].mode())
            mode2 = list(df[cond2][col_name].mode())
            if mode2 != []:
                df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond2][col_name].mode()[0])
            elif mode1 != []:
                df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond1][col_name].mode()[0])
            else:
                df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[col_name].mode()[0])
    
    print("column name    : ", col_name)
    print("--------------------------------")
    print("per_of_nulls   : ", "%", round(df[col_name].isnull().sum()*100 / df.shape[0], 2))
    print("num_of_nulls   : ", df[col_name].isnull().sum())
    print("num_of_uniques : ", df[col_name].nunique())
    print("--------------------------------")
    print(df[col_name].value_counts(dropna = False))

This is a Python User Defined Function (DEF) called ``fill_mode`` that takes four (4) input parameters: a Pandas DataFrame (df), the name of a column to group by (group_col1), another name of a column to group by (group_col2), and the name of a column to fill missing values in (col_name).

This nested for loop in the DEF is used to fill missing values in a specific column of a pandas DataFrame df based on the values in two other columns. Here's what's happening in each line of the loop:

  - ``for group1 in list(df[group_col1].unique())``: - This line iterates over all the unique values in the column specified by group_col1. Each unique value is stored in the variable group1.

  - ``for group2 in list(df[group_col2].unique())``: - This line iterates over all the unique values in the column specified by group_col2. Each unique value is stored in the variable group2.

  - ``cond1 = df[group_col1]==group1`` - This line creates a boolean Series cond1 with True values for all rows in df where the value in the column group_col1 is equal to group1.

  - ``cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)`` - This line creates a boolean Series cond2 with True values for all rows in df where the value in the column group_col1 is equal to group1 AND the value in the column group_col2 is equal to group2. This ensures that we are only filling missing values for rows that have both group1 and group2.

  - ``mode1 = list(df[cond1][col_name].mode())`` - This line calculates the mode of the column specified by col_name for all rows where the cond1 Series is True. The mode is stored as a list in the variable mode1.

  - ``mode2 = list(df[cond2][col_name].mode())`` - This line calculates the mode of the column specified by col_name for all rows where the cond2 Series is True. The mode is stored as a list in the variable mode2.

  - ``if mode2 != []``: - This line checks if mode2 is not an empty list.

  - ``df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond2][col_name].mode()[0])`` - This line fills missing values in the column specified by col_name for all rows where the cond2 Series is True. The missing values are filled using the mode of the column for rows where both group1 and group2 are present.

  - ``elif mode1 != []``: - This line checks if mode1 is not an empty list, and if mode2 is empty.

  - ``df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond1][col_name].mode()[0])`` - This line fills missing values in the column specified by col_name for all rows where the cond2 Series is True, but the mode of the column for rows where both group1 and group2 are present is not available. The missing values are filled using the mode of the column for rows where only group1 is present.

  - ``else``: - This line executes if both mode1 and mode2 are empty.

  - ``df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[col_name].mode()[0])`` - This line fills missing values in the column specified by col_name for all rows where the cond2 Series is True, but the mode of the column for rows where both group1 and group2 are present, and the mode of the column for rows where only group1 is present are both not available. The missing values are filled using the mode of the column for all rows in the DataFrame.

Overall, this User Defined Function (DEF) called ``fill_mode`` fills missing values in a specific column of a DataFrame based on the values in two other columns, with the goal of preserving group-specific information and filling missing values intelligently.

### 4) fill_prop(df, group_col, col_name)

In [17]:
def fill_prop(df, group_col, col_name):
    """
    Fills missing values in a column of a Pandas DataFrame `df` using forward and backward fill based on a grouping column.

    Parameters:
    df (pandas.DataFrame): The DataFrame to operate on.
    group_col (str): The name of the grouping column.
    col_name (str): The name of the column to fill missing values in.

    Returns:
    None.

    Prints:
    - The name of the column that was filled.
    - The percentage of null values in the column after filling.
    - The number of null values in the column after filling.
    - The number of unique values in the column after filling.
    - The value counts for each unique value in the column after filling, including null values, sorted by index.
    """    
    for group in list(df[group_col].unique()):
        cond = df[group_col]==group
        df.loc[cond, col_name] = df.loc[cond, col_name].fillna(method="ffill").fillna(method="bfill")
    df[col_name] = df[col_name].fillna(method="ffill").fillna(method="bfill")
    
    print("COLUMN NAME    : ", col_name)
    print("--------------------------------")
    print("per_of_nulls   : ", "%", round(df[col_name].isnull().sum()*100 / df.shape[0], 2))
    print("num_of_nulls   : ", df[col_name].isnull().sum())
    print("num_of_uniques : ", df[col_name].nunique())
    print("--------------------------------")
    print(df[col_name].value_counts(dropna = False).sort_index())

This is a Python User Defined Function (DEF) called ``fill_prop`` that takes three (3) input parameters: a Pandas DataFrame (df), the name of a column to group by (group_col), and the name of a column to fill missing values in (col_name).

This for loop in the DEF is used to fill missing values in a specific column of a pandas DataFrame df based on the values in another column. Here's what's happening in each line of the loop:

  - ``for group in list(df[group_col].unique())``: - This line iterates over all the unique values in the column specified by group_col. Each unique value is stored in the variable group.

  - ``cond = df[group_col]==group`` - This line creates a boolean Series cond with True values for all rows in df where the value in the column group_col is equal to group.

  - ``df.loc[cond, col_name] = df.loc[cond, col_name].fillna(method="ffill").fillna(method="bfill")`` - This line fills missing values in the column specified by col_name for all rows where the cond Series is True. The missing values are first filled using the forward fill method (method="ffill") and then with the backward fill method (method="bfill"). This ensures that any missing values are filled with the nearest non-missing value in the same group.

  - ``df[col_name] = df[col_name].fillna(method="ffill").fillna(method="bfill")`` - This line fills any remaining missing values in the column specified by col_name using the same forward fill and backward fill method. This ensures that any missing values not associated with a specific group are also filled with the nearest non-missing value.

Overall, this User Defined Function (DEF) called ``fill_prop`` fills missing values in a specific column of a DataFrame based on the values in another column, with the goal of preserving group-specific information and filling any remaining missing values.

### 5) fill(df, group_col1, group_col2, col_name, method)

In [82]:
def fill(df, group_col1, group_col2, col_name, method):
    """
    Fills missing values in a column of a Pandas DataFrame `df` based on double-stage grouping and a specified filling method.

    Parameters:
    df (pandas.DataFrame): The DataFrame to operate on.
    group_col1 (str): The name of the first grouping column.
    group_col2 (str): The name of the second grouping column.
    col_name (str): The name of the column to fill missing values in.
    method (str): The filling method to use. Can be "mode", "mean", "median", "ffill", or "bfill".

    Returns:
    None.

    Prints:
    None.
    """
    
    if method == "mode":
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond1 = df[group_col1]==group1
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                mode1 = list(df[cond1][col_name].mode())
                mode2 = list(df[cond2][col_name].mode())
                if mode2 != []:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond2][col_name].mode()[0])
                elif mode1 != []:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond1][col_name].mode()[0])
                else:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[col_name].mode()[0])

    elif method == "mean":
        df[col_name].fillna(df.groupby([group_col1, group_col2])[col_name].transform("mean"), inplace = True)
        df[col_name].fillna(df.groupby(group_col1)[col_name].transform("mean"), inplace = True)
        df[col_name].fillna(df[col_name].mean(), inplace = True)
        
    elif method == "median":
        df[col_name].fillna(df.groupby([group_col1, group_col2])[col_name].transform("median"), inplace = True)
        df[col_name].fillna(df.groupby(group_col1)[col_name].transform("median"), inplace = True)
        df[col_name].fillna(df[col_name].median(), inplace = True)
        
    elif method == "ffill":           
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(method="ffill").fillna(method="bfill")
                
        for group1 in list(df[group_col1].unique()):
            cond1 = df[group_col1]==group1
            df.loc[cond1, col_name] = df.loc[cond1, col_name].fillna(method="ffill").fillna(method="bfill")            
           
        df[col_name] = df[col_name].fillna(method="ffill").fillna(method="bfill")
    
    print("COLUMN NAME    : ", col_name)
    print("--------------------------------")
    print("per_of_nulls   : ", "%", round(df[col_name].isnull().sum()*100 / df.shape[0], 2))
    print("num_of_nulls   : ", df[col_name].isnull().sum())
    print("num_of_uniques : ", df[col_name].nunique())
    print("--------------------------------")
    print(df[col_name].value_counts(dropna = False).sort_index())

This is a Python User Defined Function (DEF) called ``fill`` that takes five (5) input parameters: a Pandas DataFrame (df), the name of a first column to group by (group_col1), the name of a second column to group by (group_col2), the name of a column to fill missing values in (col_name), and a method to use for filling missing values (method). The method parameter can take one of four values: "mode", "mean", "median", or "ffill".

The function first defines a docstring that describes its purpose: to fill missing values in the col_name column using one of several methods, based on double-stage grouping by the group_col1 and group_col2 columns.

The function then checks the value of the method parameter and executes the appropriate code block to fill missing values using the specified method.

If method is "mode", the function defines a nested loop that iterates over the unique values in both the group_col1 and group_col2 columns. For each combination of unique values, the function fills missing values in the col_name column with the mode of that column for the corresponding group.

If method is "mean" or "median", the function uses the fillna method to fill missing values in the col_name column based on the mean or median of the column for each combination of unique values in the group_col1 and group_col2 columns, then for each unique value in the group_col1 column, and finally for the entire column.

If method is "ffill", the function defines two nested loops that iterate over the unique values in both the group_col1 and group_col2 columns, and for each combination of unique values, the function fills missing values in the col_name column with the "forward fill" (ffill) and "backward fill" (bfill) methods. The function then applies the same fill methods to fill any remaining missing values at the beginning or end of the column.

After filling missing values using the specified method, the function prints some summary statistics for the col_name column, including the percentage and number of null values, the number of unique values, and the value counts for each unique value in the column, including NaN values (if any). The sort_index method is used to sort the value counts by index (i.e., in ascending order).

Overall, the fill function provides a flexible and powerful way to fill missing values in a Pandas DataFrame column using several different methods, with the option to group by one or two columns for greater flexibility.

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">The Examination of Missing Values in the Columns</p>

<a id="2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

### ⚠️ 🔥 SPECIAL NOTE:

<div style="background-color: cyan; padding: 10px; font-size: 14px; font-weight: bold;">
    Before we start our analysis and move forward, it is useful to underline one point.<br>
In this analysis, according to the <code>Domain Knowledge</code> obtained from internet, field, research on the subject at hand, and data itself, the <code>make_model</code> & <code>body_type</code> features will be referenced when filling in missing values, since these features are thought to have more or less influence on the formation of other features, either directly or indirectly.
</div>

So, at the begining we need to a close look at these features if they have missing values; if so, let us decide how to handle them:

In [19]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [20]:
df_notnull = df[df.columns[~df.isnull().any()]]
df_notnull.columns

Index(['make_model', 'make', 'location', 'price', 'body_type', 'type',
       'seller', 'full_service_history'],
      dtype='object')

In [21]:
for col in df_notnull.columns:
    print(first_looking(col))
    print()

COLUMN NAME    :  make_model
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  611
--------------------------------
Renault Megane     863
SEAT Leon          787
Volvo V40          740
Dacia Sandero      730
Hyundai i30        706
                  ...
Toyota GR86          1
Toyota Tacoma        1
Toyota Tundra        1
Toyota 4-Runner      1
Volvo 244            1
Name: make_model, Length: 611, dtype: int64


None

COLUMN NAME    :  make
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  13
--------------------------------
Volvo            3659
Mercedes-Benz    2398
Opel             2385
Peugeot          2360
Renault          2351
Fiat             2338
Ford             2324
Nissan           2064
Toyota           2038
Hyundai          1867
SEAT             1743
Skoda            1566
Dacia            1537
Name: make, dtype: int64


None

COLUMN NAME    :  location
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  8181
--------------------------------
Av. Laboral, 10,  28021 MADRID, ES                          306
Luckenwalder Berg 5,  14913 Jüterbog, DE                    170
Ctra. del Mig, 96,,  08097 L'Hospitalet de Llobregat, ES    146
9 boulevard Jules Ferry,  75011 Paris, FR                   142
Neuenhofstr. 77,  52078 Aachen, DE                          135
                                                           ...
2727CT ZOETERMEER, NL                                         1
Rosendaalsestraat 437-439,  6824 CK ARNHEM, NL                1
5751VH DEURNE, NL                                             1
00148 roma, IT                                                1
Sur rendez-vous,  5060 Sambreville, BE                        1
Name: location, Length: 8181, dtype: int64


None

COLUMN NAME    :  price
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  5021
--------------------------------
14990.0    222
12990.0    219
16990.0    186
19990.0    166
9990.0     160
          ...
19112.0      1
30465.0      1
18461.0      1
22649.0      1
4440.0       1
Name: price, Length: 5021, dtype: int64


None

COLUMN NAME    :  body_type
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  6
--------------------------------
Station wagon       5448
Off-Road/Pick-up    5415
Compact             5387
Sedan               5043
Coupe               4009
Convertible         3328
Name: body_type, dtype: int64


None

COLUMN NAME    :  type
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  4
--------------------------------
Used              25251
Demonstration      1433
Pre-registered     1377
Employee's car      569
Name: type, dtype: int64


None

COLUMN NAME    :  seller
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  2
--------------------------------
Dealer            26318
Private seller     2312
Name: seller, dtype: int64


None

COLUMN NAME    :  full_service_history
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  2
--------------------------------
No     16065
Yes    12565
Name: full_service_history, dtype: int64


None

<div style="background-color: #ffeeba; padding: 10px; font-size: 14px; font-weight: bold;">
    Among the features above, <code>make_model</code>,  <code>make</code>, <code>model</code> & sometimes <code>body_type</code> are the critical/crucial ones to impute the missing values. Therefore let's take a close look at them one by one:
</div>

## make_model, make, & model

In [22]:
# Let's explore basic information about "make_model", "make", "model"

first_looking("make_model", "make", "model")

COLUMN NAME    :  make_model
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  611
--------------------------------
Renault Megane     863
SEAT Leon          787
Volvo V40          740
Dacia Sandero      730
Hyundai i30        706
                  ...
Toyota GR86          1
Toyota Tacoma        1
Toyota Tundra        1
Toyota 4-Runner      1
Volvo 244            1
Name: make_model, Length: 611, dtype: int64


COLUMN NAME    :  make
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  13
--------------------------------
Volvo            3659
Mercedes-Benz    2398
Opel             2385
Peugeot          2360
Renault          2351
Fiat             2338
Ford             2324
Nissan           2064
Toyota           2038
Hyundai          1867
SEAT             1743
Skoda            1566
Dacia            1537
Name: make, dtype: int64


COLUMN NAME    :  model
--------------------------------
per_of_nulls   :  % 0.96
num_of_nulls   :  276
num_of_uniques :  593
--------------------------------
Megane        863
Leon          787
V40           740
Sandero       730
i30           706
             ...
GLA 35 AMG      1
G 55 AMG        1
Ariya           1
105             1
244             1
Name: model, Length: 594, dtype: int64

In [23]:
df[['make_model', 'make', 'model', "short_description"]].sample(20)

,make_model,make,model,short_description
23102,Ford Fiesta,Ford,Fiesta,ST-Line X MHEV
20134,Nissan Qashqai,Nissan,Qashqai,2.0 Connect Edition
3653,Opel Mokka,Opel,Mokka,"1,4 Edition Klima, Fernlichtass., LM, PDC"
10416,Fiat Dino,Fiat,Dino,Lightweight Hans Brösch
14443,Skoda Octavia,Skoda,Octavia,Combi 2.0 TDI 4x4 DSG Scout*LED*Navi*PDC*AHK*C...
27552,Volvo V60,Volvo,V60,Polestar T8 Twin Engine AWD
3919,Opel Mokka X,Opel,Mokka X,Start Stop EU6d-T 1.4 Turbo 120 Jahre Sport-Ut...
26899,Volvo XC90,Volvo,XC90,D5 AWD*R-Design*VOLL*360°*LUFT*Mietkauf
10507,Fiat Coupe,Fiat,Coupe,1.8-16V
21646,Ford Mustang,Ford,Mustang,50 Jahre / Kompressor 720PS/500GT/ 3J.Garantie
19398,Nissan 370Z,Nissan,370Z,370 Z Pack
1966,Mercedes-Benz CLA 250,Mercedes-Benz,CLA 250,SB e AMG
22758,Ford Focus,Ford,Focus,"RS 2.5 224 kW (305 PS), Schaltgetriebe, Fronta..."
24762,Hyundai i20,Hyundai,i20,blue 1.2 YES! Pus-MAYEN
22372,Ford Focus,Ford,Focus,Turnier 2.0 TDCi SYNC Ed. (PPS+SHZ)
20071,Nissan Qashqai,Nissan,Qashqai,+2 2.0 VISIA 4X2
6823,Renault Clio,Renault,Clio,Zen TCe GPF 74 kW (100CV)
10662,Fiat 500L,Fiat,500L,NaN
10258,Fiat 500,Fiat,500,BEV 24KWH RED 95 2P
4028,Opel Insignia,Opel,Insignia,SpT BiTurbo Ultimate 4x4 OPC NAV+LED+SH

<img src=https://i.ibb.co/VHd4whm/empty-cells.png width="350" height="100">

In [24]:
df['model'].str.contains(r'^\s*$', na=False).value_counts()

# (df['model'] == '').value_counts()

False    28630
Name: model, dtype: int64

The regular expression pattern <b><code>r'^\s*$'</code></b> matches a string that consists of zero or more whitespace characters.

  - ``^`` asserts the start of the string.
  - ``\s`` matches any whitespace character, such as space, tab, or newline.
  - ``*`` matches zero or more occurrences of the preceding pattern, in this case, zero or more whitespace characters.
  - ``$`` asserts the end of the string.

So, the pattern <b><code>r'^\s*$'</code></b> will match a string if it contains only whitespace characters or is completely empty, such as "", " ", " ", "\t\t", and/or "\n"

In [22]:
df.model.isnull().sum()

276

In [ ]:
# df[(df["make"] == "Mercedes-Benz")&(~df['model'].isna())][['make_model', 'make', 'model']]

# df[df['model'].str.contains(r'^\s*$', na=False)][['make_model', 'make', 'model']]

In [25]:
df["model"] = df["model"].replace(r'^\s*$', np.nan, regex=True)

df[df["model"].isna()][['make_model', 'make', 'model']]

           make_model           make model
162    Mercedes-Benz   Mercedes-Benz   NaN
184    Mercedes-Benz   Mercedes-Benz   NaN
186    Mercedes-Benz   Mercedes-Benz   NaN
211    Mercedes-Benz   Mercedes-Benz   NaN
213    Mercedes-Benz   Mercedes-Benz   NaN
...               ...            ...   ...
26851          Volvo           Volvo   NaN
26893          Volvo           Volvo   NaN
27224          Volvo           Volvo   NaN
27240          Volvo           Volvo   NaN
27281          Volvo           Volvo   NaN

[276 rows x 3 columns]

In [26]:
# pd.set_option('display.max_colwidth', None)
# pd.reset_option('display.max_colwidth')
df.iloc[162][:4]

make_model                       Mercedes-Benz
short_description    Classe A 1.9 116ch A 180 d
make                              Mercedes-Benz
model                                       NaN
Name: 162, dtype: object

### Defining car model names for extraction from ``short_description``:

In [38]:
# Let's define models and extract them from "short_description" feature
model_pattern = '(Mitecki)|(BJ40)|(Business)|(1300)|(TURBO)|(bj 42)|(4cv)|(B 220)|(E 63)|(S 580e)|(SL 43)|(EDITION 1)|(A 160)|(GLE 63)|(C 63)|(C 300)|(C 180)|(A 200)|(C 200)|(A 180)|(A 180)|(Clase GLK)|(Clase SL)|(ANDERE)|(220)|(E 500)|(GLA 250)|(4Matic)|(C 43)|(200CDI)|(AMG GT)|(AMG Autom)|(AMG-Night)|(4M)|(2.0 CDTi)|(1.4 Turbo)|(1.4 S/S)|(1.4 T)|(Cabrio 1.4)|(Cabrio 1.6)|(Cabrio 2.0)|(Olympia)|(Astra)|(Adam)|(i30)|(Twizy)|(Alpine)|(Zen)|(Spider)|(Intens)|(COUPE)|(Cabriolet)|(124 Spider)|(Qubo)|(Ultimate AWD)|(1st Edition AWD)|(240 Z)|(Buckel)|(CRDI)|(RS200)|(SPYDER)|(GR Supra)|(2,0 T-Bar)|(1.8)|(Mach E)|(370 Z)|(Zagato)|(Tornado)|(Essential)|(1100D)|(Topolino Lotus)|(850)|(Neuer 500)|(124 Spyder)|(R.S. Line)|(Blue dCi)|(1500)|(Coupè)|(201)|(Berline|(Berlina)|(403)|(600)|(850)|(124)|(128 sport)|(Cupra)|(COMFORT TCe)|(Abarth)|(Coupé)|(X-MODE)|(Family Active)|(LJ70)|(Auris Touring Sports)|(RAV)|(Cabrio)|(T-Bird)|(MUSTANG)|(RAPTOR)|(GALAXIE SUNLINER)|(HOT ROD)|(Spaceback)|(Datsun)|(Skyline)|(Roadster)|(1.0 T-GDI)|(Mild-Hybrid)|(BAYON)|(I30N)|(P 1800 E)|(P1800E)|(P1800)|(2.4 Momentum)|(PV544 Sport)|(444))'

# Let's create a new feature named "extracted_models" using model_pattern
df["extracted_models"] = (df["short_description"].str.extract(model_pattern,flags=re.IGNORECASE)).bfill(axis=1)[0]

# Flags from the re module, e.g. re.IGNORECASE, that modify regular expression matching for things like case, spaces, etc.

# let's explore which "make_model", "make", and "model" have NaN values
df[df["model"].isna()][['make_model', 'make', 'model', "extracted_models", "short_description"]]

,make_model,make,model,extracted_models,short_description
162,Mercedes-Benz,Mercedes-Benz,NaN,A 180,Classe A 1.9 116ch A 180 d
184,Mercedes-Benz,Mercedes-Benz,NaN,A 180,Classe A 1.5 109ch A 180 CDI BlueEfficiency
186,Mercedes-Benz,Mercedes-Benz,NaN,A 180,Classe A 1.5 116ch A 180 d
211,Mercedes-Benz,Mercedes-Benz,NaN,A 160,Classe A 1.5 90ch A 160 CDI / d
213,Mercedes-Benz,Mercedes-Benz,NaN,A 180,Classe A 1.5 116ch A 180 d
...,...,...,...,...,...
26851,Volvo,Volvo,NaN,1st Edition AWD,1st Edition AWD Recharge Pure Electric Twin
26893,Volvo,Volvo,NaN,1st Edition AWD,1st Edition AWD Recharge Pure Electric Twin
27224,Volvo,Volvo,NaN,Ultimate AWD,Ultimate AWD Recharge Pure Electric Twin getön...
27240,Volvo,Volvo,NaN,1st Edition AWD,1st Edition AWD Recharge Pure Electric Twin
27281,Volvo,Volvo,NaN,1st Edition AWD,1st Edition AWD Recharge Pure Electric Twin

In [39]:
# The number of NaN values BEFORE
df["model"].isna().sum()

# Before filling missing values in "model" feature, we have 276.

276

In [40]:
# The number of NaN values AFTER
df['model'].fillna(df['extracted_models']).isnull().sum()

# When filling missing values in "model" feature with defined models we will have still 6 NaN values. We had 276 before.
# We have NOT filled ALL NaN values in "model" feature yet

6

In [41]:
df[['make_model', 'make', 'model', "extracted_models", "short_description"]]

,make_model,make,model,extracted_models,short_description
0,Mercedes-Benz A 160,Mercedes-Benz,A 160,NaN,CDi
1,Mercedes-Benz EQE 350,Mercedes-Benz,EQE 350,NaN,350+
2,Mercedes-Benz A 45 AMG,Mercedes-Benz,A 45 AMG,4Matic,S 4Matic+ 8G-DCT
3,Mercedes-Benz A 35 AMG,Mercedes-Benz,A 35 AMG,4Matic,4Matic+ 7G-DCT
4,Mercedes-Benz A 45 AMG,Mercedes-Benz,A 45 AMG,200CDI,200CDI BE Line 4M 7G-DCT
...,...,...,...,...,...
28625,Volvo S90,Volvo,S90,Business,T8 Twin Business Plus AWD Aut.
28626,Volvo S40,Volvo,S40,NaN,2.4i Momentum/ Airco/ NAP/ APK/ Elek. Ramen
28627,Volvo C30,Volvo,C30,NaN,1.6 D DRIVe Start/Stop R-design
28628,Volvo S90,Volvo,S90,BUSINESS,T5 AUT(8) MOMENTUM BUSINESS SCHUIFDAK 360GR CA...
28629,Volvo S80,Volvo,S80,NaN,2.9 Executive G. NETTE AUTO! LEER! NAVI! CRUIS...

In [42]:
# Let's explore the NaN values in both "model" and "extracted_models"

df[(df["model"].isna()) & (df["extracted_models"].isna())][['make_model', 'make', 'model', "extracted_models", "short_description"]]

      make_model     make model extracted_models       short_description
5599    Renault   Renault   NaN              NaN  III 2.0 16V 265 S&S RS
7778    Peugeot   Peugeot   NaN              NaN                   <NULL
17160    Toyota    Toyota   NaN              NaN       140 VVT-i SMT bva
19285    Nissan    Nissan   NaN              NaN                     NaN
21365      Ford      Ford   NaN              NaN                     NaN
21385      Ford      Ford   NaN              NaN                       -

In [43]:
# Let's find the row index number of observations including NaN values in "model" feature

model_index_nan = df[df["model"].isna()][['make_model', 'make', 'model', "extracted_models", "short_description"]].index

display(model_index_nan)
df.iloc[model_index_nan][['make_model', 'make', 'model', "extracted_models", "short_description"]].head()

Int64Index([  162,   184,   186,   211,   213,   226,   319,   427,   442,
              471,
            ...
            26614, 26652, 26698, 26713, 26835, 26851, 26893, 27224, 27240,
            27281],
           dtype='int64', length=276)

,make_model,make,model,extracted_models,short_description
162,Mercedes-Benz,Mercedes-Benz,NaN,A 180,Classe A 1.9 116ch A 180 d
184,Mercedes-Benz,Mercedes-Benz,NaN,A 180,Classe A 1.5 109ch A 180 CDI BlueEfficiency
186,Mercedes-Benz,Mercedes-Benz,NaN,A 180,Classe A 1.5 116ch A 180 d
211,Mercedes-Benz,Mercedes-Benz,NaN,A 160,Classe A 1.5 90ch A 160 CDI / d
213,Mercedes-Benz,Mercedes-Benz,NaN,A 180,Classe A 1.5 116ch A 180 d

In [46]:
# Let's fill the missing values in "model" feature by its counterparts in 'extracted_models' feature 
# and make the changes permanent

df['model'].fillna(df['extracted_models'], inplace=True)

display(df['model'].isnull().sum())

display(df['make_model'].isnull().sum())

6

0

In [47]:
# Why are some NaN values NOT imputed?

df[df["model"].isna()][['make_model', 'make', 'model', "extracted_models", "short_description"]]

      make_model     make model extracted_models       short_description
5599    Renault   Renault   NaN              NaN  III 2.0 16V 265 S&S RS
7778    Peugeot   Peugeot   NaN              NaN                   <NULL
17160    Toyota    Toyota   NaN              NaN       140 VVT-i SMT bva
19285    Nissan    Nissan   NaN              NaN                     NaN
21365      Ford      Ford   NaN              NaN                     NaN
21385      Ford      Ford   NaN              NaN                       -

In [48]:
# Dropping these unhandled observations from dataset:

display(df.shape)  # Gives the shape of df BEFORE dropping NaN values in 'model'

df.dropna(subset=['model'], inplace=True)

display(df['model'].isnull().sum())  # Gives the total number of NaN values in 'model' AFTER dropping them 

display(df.shape)  # Gives the shape of df AFTER dropping NaN values in 'model'

(28630, 36)

0

(28624, 36)

In [49]:
# Let's combine "make" and "model" to create a new feature named "modified_make_model"

df["modified_make_model"] = df["make"] + " " + df["model"]
modified_make_model = df.pop("modified_make_model")
df.insert(1, 'modified_make_model', modified_make_model)
df["modified_make_model"]

0           Mercedes-Benz A 160
1         Mercedes-Benz EQE 350
2        Mercedes-Benz A 45 AMG
3        Mercedes-Benz A 35 AMG
4        Mercedes-Benz A 45 AMG
                  ...
28625                 Volvo S90
28626                 Volvo S40
28627                 Volvo C30
28628                 Volvo S90
28629                 Volvo S80
Name: modified_make_model, Length: 28624, dtype: object

In [51]:
df.head(1)

,make_model,modified_make_model,short_description,make,model,location,price,body_type,type,doors,...,upholstery,previous_owner,energy_efficiency_class,age,power_kW,power_hp,cons_avg,cons_city,cons_country,extracted_models
0,Mercedes-Benz A 160,Mercedes-Benz A 160,CDi,Mercedes-Benz,A 160,"P.I. EL PALMAR C/FORJA 6, 11500 PUERTO DE SAN...",16950.0,Compact,Used,5.0,...,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
# Let's compare the values in the columns of "make_model" and "modified_make_model"

df[["make_model", "modified_make_model"]]

                   make_model     modified_make_model
0         Mercedes-Benz A 160     Mercedes-Benz A 160
1       Mercedes-Benz EQE 350   Mercedes-Benz EQE 350
2      Mercedes-Benz A 45 AMG  Mercedes-Benz A 45 AMG
3      Mercedes-Benz A 35 AMG  Mercedes-Benz A 35 AMG
4      Mercedes-Benz A 45 AMG  Mercedes-Benz A 45 AMG
...                       ...                     ...
28625               Volvo S90               Volvo S90
28626               Volvo S40               Volvo S40
28627               Volvo C30               Volvo C30
28628               Volvo S90               Volvo S90
28629               Volvo S80               Volvo S80

[28624 rows x 2 columns]

In [53]:
# Let's fill the missing values in "modified_make_model" feature by its counterparts in 'make_model' feature 
# and make the changes permanent

df['modified_make_model'].fillna(df['make_model'], inplace=True)

display(df['model'].isnull().sum())
display(df['make_model'].isnull().sum())
display(df['modified_make_model'].isnull().sum())

0

0

0

In [54]:
df.iloc[model_index_nan][['make_model', 'make', 'model', "extracted_models", "short_description"]].head()

,make_model,make,model,extracted_models,short_description
162,Mercedes-Benz,Mercedes-Benz,A 180,A 180,Classe A 1.9 116ch A 180 d
184,Mercedes-Benz,Mercedes-Benz,A 180,A 180,Classe A 1.5 109ch A 180 CDI BlueEfficiency
186,Mercedes-Benz,Mercedes-Benz,A 180,A 180,Classe A 1.5 116ch A 180 d
211,Mercedes-Benz,Mercedes-Benz,A 160,A 160,Classe A 1.5 90ch A 160 CDI / d
213,Mercedes-Benz,Mercedes-Benz,A 180,A 180,Classe A 1.5 116ch A 180 d

In [55]:
df['make_model'] = df['modified_make_model']
df.iloc[162][:5]

make_model                    Mercedes-Benz A 180
modified_make_model           Mercedes-Benz A 180
short_description      Classe A 1.9 116ch A 180 d
make                                Mercedes-Benz
model                                       A 180
Name: 162, dtype: object

### Some Anomalies in the Name of Car Makes & Models:

**Let's define some key/reference concepts/models from ``make_model`` feature to understand what they represent; if they are same cars or not because some of the names for car makes and models in that feature are unstandardized by starting with or involving capital/s, small letter/s, etc.**

In [ ]:
# # Master, SPYDER, Torino, MUSTANG, Safrane, Modus, Master, Bipper, Espace, iOn, Tacoma, Zafira, Supra, C-Max, Capri, Mach, Night, Clase, COUPÈ, Coupè

# df[df["make_model"].str.contains("Toyota", flags=re.IGNORECASE, regex=True)][["make_model", "age", "mileage", "price", "body_type", "gearbox", "fuel_type", "seller", "seats", "engine_size", "gears", "drivetrain", "short_description"]]

In [56]:
# Let's fix some anomalies in the names of "make_model" 

df["make_model"].replace(["Ford SPYDER", "Ford MUSTANG", "Renault Grand Espace", "Fiat Spider", "Fiat Spider Europa", "Fiat 1300", "Opel Zafira Tourer", "Opel Zafira Life", "Toyota GR Supra", "Ford Grand C-Max", "Volvo P 1800 E", "Volvo P1800E", "Volvo coupe", "Toyota Auris Touring Sports", "Ford Mustang Mach-E\t", "Toyota Prius+", "Toyota 1.8", "Mercedes-Benz AMG-Night", "Mercedes-Benz Clase GLK", "Mercedes-Benz Clase SL", "Ford Hot Rod", "Ford HOT ROD", "Ford Hot rod", "Fiat 124 Coupè", "Fiat COUPÈ", "Fiat Coupè", "Toyota Corolla Verso", "Toyota Verso-S", "Renault Alpine", "Hyundai KONA Elektro", "Hyundai 1.0 T-GDi", "Hyundai H 350", "Hyundai H-1", "Hyundai ACCENT", "Hyundai CRDI", "Renault"],
                         ["Ford Mustang", "Ford Mustang", "Renault Espace", "Fiat 124 Spider", "Fiat 124 Spider", "Fiat 130", "Opel Zafira", "Opel Zafira", "Toyota Supra", "Ford C-Max", "Volvo P1800", "Volvo P1800", "Volvo Coupe", "Toyota Auris", "Ford Mustang Mach-E", "Toyota Prius", "Toyota MR 2", "Mercedes-Benz AMG GT", "Mercedes-Benz Clase", "Mercedes-Benz Clase", "Ford Hot Rod", "Ford Hot Rod", "Ford Hot Rod", "Fiat 124 Coupe", "Fiat 124 Coupe", "Fiat 124 Coupe", "Toyota Verso", "Toyota Verso", "Renault Alpine A110", "Hyundai KONA", "Hyundai 1.0 T-GDI", "Hyundai H", "Hyundai H", "Hyundai Accent", "Hyundai Accent", "Renault Megane"], inplace=True)

In [57]:
# Let's standardize all names in the "make_model", "make", and "model" columns by converting them to title case

df[["make_model", "make", "model"]] = df[["make_model", "make", "model"]].apply(lambda x: x.str.title())

In [58]:
# Let's drop unnecassary columns in the DataFrame

df.drop(["modified_make_model", "short_description", "extracted_models"], axis=1, inplace=True)
df.head()

,make_model,make,model,location,price,body_type,type,doors,warranty,mileage,...,full_service_history,upholstery,previous_owner,energy_efficiency_class,age,power_kW,power_hp,cons_avg,cons_city,cons_country
0,Mercedes-Benz A 160,Mercedes-Benz,A 160,"P.I. EL PALMAR C/FORJA 6, 11500 PUERTO DE SAN...",16950.0,Compact,Used,5.0,24.0,120200.0,...,No,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN
1,Mercedes-Benz Eqe 350,Mercedes-Benz,Eqe 350,"APARTADO DE CORREOS 1032, 26140 LOGROÑO, ES",80900.0,Compact,Pre-registered,4.0,24.0,5000.0,...,No,NaN,NaN,NaN,0.0,215.0,292.0,NaN,NaN,NaN
2,Mercedes-Benz A 45 Amg,Mercedes-Benz,A 45 Amg,"PORT. TARRACO, MOLL DE LLEVANT, Nº 5, LOC. 6-8...",69900.0,Compact,Used,5.0,12.0,18900.0,...,No,NaN,NaN,NaN,2.0,310.0,421.0,8.4,10.9,5.8
3,Mercedes-Benz A 35 Amg,Mercedes-Benz,A 35 Amg,"Carrer de Provença, 31 Local, 8029 BARCELONA, ES",46990.0,Compact,Used,5.0,12.0,18995.0,...,No,NaN,NaN,NaN,2.0,225.0,306.0,7.3,9.3,6.1
4,Mercedes-Benz A 45 Amg,Mercedes-Benz,A 45 Amg,"CARRIL ARAGONES 4, 30007 CASILLAS, ES",16800.0,Compact,Used,5.0,12.0,197000.0,...,No,NaN,NaN,NaN,7.0,100.0,136.0,4.9,5.7,4.4

In [59]:
first_looking("make_model", "make", "model")

COLUMN NAME    :  make_model
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  664
--------------------------------
Renault Megane      863
Seat Leon           787
Volvo V40           740
Dacia Sandero       730
Hyundai I30         709
                   ...
Fiat Cinquecento      1
Fiat Doblo            1
Fiat Multipla         1
Fiat 1100D            1
Volvo 244             1
Name: make_model, Length: 664, dtype: int64


COLUMN NAME    :  make
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  13
--------------------------------
Volvo            3659
Mercedes-Benz    2398
Opel             2385
Peugeot          2359
Renault          2350
Fiat             2338
Ford             2322
Nissan           2063
Toyota           2037
Hyundai          1867
Seat             1743
Skoda            1566
Dacia            1537
Name: make, dtype: int64


COLUMN NAME    :  model
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  674
--------------------------------
Megane       863
Leon         787
V40          740
Sandero      730
I30          709
            ...
C 320          1
Edition 1      1
S 580E         1
240 Z          1
244            1
Name: model, Length: 674, dtype: int64

## body_type

In [60]:
# Let's explore basic information about "body_type"

first_looking("body_type")

COLUMN NAME    :  body_type
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  6
--------------------------------
Station wagon       5448
Off-Road/Pick-up    5415
Compact             5387
Sedan               5043
Coupe               4007
Convertible         3324
Name: body_type, dtype: int64

In [61]:
# Let's standardize all names in the "body_type" column by converting them to title case

df['body_type'] = df['body_type'].str.title()

In [62]:
first_looking("body_type")

COLUMN NAME    :  body_type
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  6
--------------------------------
Station Wagon       5448
Off-Road/Pick-Up    5415
Compact             5387
Sedan               5043
Coupe               4007
Convertible         3324
Name: body_type, dtype: int64

<!-- <div style="background-color: #EBA6EC; padding: 10px; font-size: 23px; font-weight: bold;">
    Now it's time to examine and fill the missing values of each column/feature one by one:
</div> -->

## <p style="background-color:#E278E3; font-family:newtimeroman; color:#000000; font-size:121%; text-align:left; border-radius:10px 10px;">Now it's time to examine and fill the missing values of each column/feature one by one:</p>

In [64]:
df_isnull = df[df.columns[df.isnull().any()]]
sorted(df_isnull.columns)

['age',
 'co_emissions',
 'comfort_&_convenience',
 'cons_avg',
 'cons_city',
 'cons_country',
 'cylinders',
 'doors',
 'drivetrain',
 'empty_weight',
 'energy_efficiency_class',
 'engine_size',
 'entertainment_&_media',
 'extras',
 'fuel_type',
 'gearbox',
 'gears',
 'mileage',
 'power_hp',
 'power_kW',
 'previous_owner',
 'safety_&_security',
 'seats',
 'upholstery',
 'warranty']

In [66]:
# Let's explore the percentage of missing values in each column that exceeds the given 'limit'.

interact(show_missing_values, limit=(0, 100, 5));

interactive(children=(IntSlider(value=50, description='limit', step=5), Output()), _dom_classes=('widget-inter…

## engine_size

In [67]:
# Let's explore basic information about "engine_size"

first_looking("engine_size")

COLUMN NAME    :  engine_size
--------------------------------
per_of_nulls   :  % 4.9
num_of_nulls   :  1403
num_of_uniques :  467
--------------------------------
1598.0    2099
999.0     2068
1969.0    1929
NaN       1403
1461.0    1110
          ...
2753.0       1
2495.0       1
200.0        1
3224.0       1
2473.0       1
Name: engine_size, Length: 468, dtype: int64

In [68]:
# All NaN values are converted to dash/hyphen sign "-" to see them in the output of describe() and explore the hidden pattern

df["engine_size"].fillna("-", inplace=True)

**⚠️ Why do we need to convert ``Nan`` values into something else, "-" in our case❓**

**``describe()``** does **NOT** return anything for ``NaN`` values. If you have **``"Nan"``** at the column/feature you are interested in, you should replace these ``nan`` values with something else. In our case, we have replaced the **``"NaN"``** values with **``"-"``** so that we could implement the ``describe()`` method.

In [69]:
# let's explore if there is any pattern among ""make_model", "body_type", and "engine_size" by "price"

df.groupby(["make_model", "body_type","engine_size"]).price.describe()

                                                count     mean          std  \
make_model        body_type        engine_size
Dacia 1300        Sedan            1289.0         1.0   9999.0          NaN
Dacia Break       Station Wagon    -              1.0  20500.0          NaN
Dacia Business    Compact          0.0            1.0  19515.0          NaN
Dacia Comfort Tce Station Wagon    999.0          1.0  21799.0          NaN
Dacia Dokker      Compact          1461.0         1.0  11930.0          NaN
...                                               ...      ...          ...
Volvo Xc90        Off-Road/Pick-Up 2922.0         2.0  16990.0     0.000000
                                   -              2.0  55900.0     0.000000
                  Sedan            1969.0         2.0  48100.0   565.685425
                                   -              1.0  84900.0          NaN
                  Station Wagon    1969.0         4.0  32750.0  3752.776750

                                                    min      25%      50%  \
make_model        body_type        engine_size
Dacia 1300        Sedan            1289.0        9999.0   9999.0   9999.0
Dacia Break       Station Wagon    -            20500.0  20500.0  20500.0
Dacia Business    Compact          0.0          19515.0  19515.0  19515.0
Dacia Comfort Tce Station Wagon    999.0        21799.0  21799.0  21799.0
Dacia Dokker      Compact          1461.0       11930.0  11930.0  11930.0
...                                                 ...      ...      ...
Volvo Xc90        Off-Road/Pick-Up 2922.0       16990.0  16990.0  16990.0
                                   -            55900.0  55900.0  55900.0
                  Sedan            1969.0       47700.0  47900.0  48100.0
                                   -            84900.0  84900.0  84900.0
                  Station Wagon    1969.0       29500.0  29500.0  32750.0

                                                    75%      max
make_model        body_type        engine_size
Dacia 1300        Sedan            1289.0        9999.0   9999.0
Dacia Break       Station Wagon    -            20500.0  20500.0
Dacia Business    Compact          0.0          19515.0  19515.0
Dacia Comfort Tce Station Wagon    999.0        21799.0  21799.0
Dacia Dokker      Compact          1461.0       11930.0  11930.0
...                                                 ...      ...
Volvo Xc90        Off-Road/Pick-Up 2922.0       16990.0  16990.0
                                   -            55900.0  55900.0
                  Sedan            1969.0       48300.0  48500.0
                                   -            84900.0  84900.0
                  Station Wagon    1969.0       36000.0  36000.0

[3879 rows x 8 columns]

<div style="background-color: #ffeeba; padding: 10px; font-size: 16px; font-weight: bold;">
    The <code>engine_size</code> of cars changes by their <code>make_models</code> & <code>body_type</code> most of the time. So it is more beneficial to decide to fill missing values with <code>mode value</code> of corresponding group.
</div>

In [70]:
# Let's replace dash/hyphen sign "-" with np.nan

df["engine_size"].replace("-", np.nan, inplace=True)

def fill(df, group_col1, group_col2, col_name, method): # method can be either "mode" or "mean" or "median" or "ffill"
    
    '''Fills the missing values with "mode/mean/median/ffill/bfill method" according to double-stage grouping'''
    
    if method == "mode":
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond1 = df[group_col1]==group1
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                mode1 = list(df[cond1][col_name].mode())
                mode2 = list(df[cond2][col_name].mode())
                if mode2 != []:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond2][col_name].mode()[0])
                elif mode1 != []:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond1][col_name].mode()[0])
                else:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[col_name].mode()[0])

    elif method == "mean":
        df[col_name].fillna(df.groupby([group_col1, group_col2])[col_name].transform("mean"), inplace = True)
        df[col_name].fillna(df.groupby(group_col1)[col_name].transform("mean"), inplace = True)
        df[col_name].fillna(df[col_name].mean(), inplace = True)
        
    elif method == "median":
        df[col_name].fillna(df.groupby([group_col1, group_col2])[col_name].transform("median"), inplace = True)
        df[col_name].fillna(df.groupby(group_col1)[col_name].transform("median"), inplace = True)
        df[col_name].fillna(df[col_name].median(), inplace = True)
        
    elif method == "ffill":           
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(method="ffill").fillna(method="bfill")
                
        for group1 in list(df[group_col1].unique()):
            cond1 = df[group_col1]==group1
            df.loc[cond1, col_name] = df.loc[cond1, col_name].fillna(method="ffill").fillna(method="bfill")            
           
        df[col_name] = df[col_name].fillna(method="ffill").fillna(method="bfill")
    
    print("COLUMN NAME    : ", col_name)
    print("--------------------------------")
    print("per_of_nulls   : ", "%", round(df[col_name].isnull().sum()*100 / df.shape[0], 2))
    print("num_of_nulls   : ", df[col_name].isnull().sum())
    print("num_of_uniques : ", df[col_name].nunique())
    print("--------------------------------")
    print(df[col_name].value_counts(dropna = False).sort_index())

In [71]:
# This DEF will fill the missing values in the "engine_size" with the mode value based on "make_model" and "body_type"

fill(df, "make_model", "body_type", "engine_size", "mode")

COLUMN NAME    :  engine_size
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  467
--------------------------------
0.0        328
1.0        111
2.0         12
4.0          2
5.0          3
          ...
16597.0      1
16998.0      1
19194.0      1
54009.0      1
99900.0      1
Name: engine_size, Length: 467, dtype: int64

## age

In [72]:
# Let's explore basic information about "age"

first_looking("age")

COLUMN NAME    :  age
--------------------------------
per_of_nulls   :  % 0.01
num_of_nulls   :  2
num_of_uniques :  83
--------------------------------
 3.0      3667
 4.0      3492
 0.0      3085
 1.0      2870
 2.0      2473
          ...
-1.0         1
 93.0        1
 72.0        1
 94.0        1
-180.0       1
Name: age, Length: 84, dtype: int64

In [73]:
# All NaN values are converted to dash/hyphen sign "-" to see them in the output of describe() and explore the hidden pattern

df['age'].fillna('-', inplace=True)

In [74]:
# let's explore if there is any pattern among ""age" by "mileage"

df.groupby("age").mileage.describe()

,count,mean,std,min,25%,50%,75%,max
age,,,,,,,,
-180.0,1.0,20926.000000,NaN,20926.0,20926.00,20926.0,20926.00,20926.0
-3.0,1.0,59629.000000,NaN,59629.0,59629.00,59629.0,59629.00,59629.0
-1.0,1.0,147985.000000,NaN,147985.0,147985.00,147985.0,147985.00,147985.0
0.0,3084.0,3044.320039,4698.152830,0.0,10.00,406.0,5000.00,46500.0
1.0,2870.0,15009.230314,12832.031943,0.0,5806.00,12175.0,21493.50,94000.0
...,...,...,...,...,...,...,...,...
92.0,2.0,30616.500000,41554.544210,1233.0,15924.75,30616.5,45308.25,60000.0
93.0,1.0,65515.000000,NaN,65515.0,65515.00,65515.0,65515.00,65515.0
94.0,1.0,5000.000000,NaN,5000.0,5000.00,5000.0,5000.00,5000.0
122.0,2.0,14985.500000,21178.555203,10.0,7497.75,14985.5,22473.25,29961.0
-,2.0,3175.000000,963.079436,2494.0,2834.50,3175.0,3515.50,3856.0

In [75]:
# Let's explore what the age is for dash/hyphen signs "-"

df[df["age"] == "-"]["mileage"].value_counts(dropna=False)

3856.0    1
2494.0    1
Name: mileage, dtype: int64

When it's needed, the condition could be improved according to following logic:

cond1 = (df['mileage'] < 10000)
cond2 = ((df['mileage'] >= 10000) & (df['mileage'] < 25000))
cond3 = ((df['mileage'] >= 25000) & (df['mileage'] < 40000))
cond4 = (df['mileage'] >= 40000)
...

df.loc[cond1,'age'] = df.loc[cond1,'age'].replace('-', 0)
df.loc[cond2,'age'] = df.loc[cond2,'age'].replace('-', 1)
df.loc[cond3,'age'] = df.loc[cond3,'age'].replace('-', 2)
df.loc[cond4,'age'] = df.loc[cond4,'age'].replace('-', 3)

**Let us use replace() function to fill missing values at "age" column with proper values.**

In [76]:
cond_age1 = (df['mileage'] < 10000)

df.loc[cond_age1, 'age'] = df.loc[cond_age1, 'age'].replace('-', 0)

In [77]:
df.groupby('age').mileage.mean()

age
-180.0     20926.000000
-3.0       59629.000000
-1.0      147985.000000
 0.0        3044.404731
 1.0       15009.230314
              ...
 90.0      14700.000000
 92.0      30616.500000
 93.0      65515.000000
 94.0       5000.000000
 122.0     14985.500000
Name: mileage, Length: 83, dtype: float64

In [78]:
first_looking("age")

COLUMN NAME    :  age
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  83
--------------------------------
 3.0      3667
 4.0      3492
 0.0      3087
 1.0      2870
 2.0      2473
          ...
 93.0        1
 66.0        1
-180.0       1
 94.0        1
 72.0        1
Name: age, Length: 83, dtype: int64

## mileage

In [79]:
# Let's explore basic information about "mileage"

first_looking("mileage")

COLUMN NAME    :  mileage
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  1
num_of_uniques :  14182
--------------------------------
10.0        586
1.0         172
50.0        133
100.0       119
5000.0      118
           ...
141589.0      1
59821.0       1
123500.0      1
29781.0       1
230047.0      1
Name: mileage, Length: 14183, dtype: int64

In [80]:
# Let's explore what the average mileage of the vehicles is by "age" 

df.groupby("age").mileage.mean()

age
-180.0     20926.000000
-3.0       59629.000000
-1.0      147985.000000
 0.0        3044.404731
 1.0       15009.230314
              ...
 90.0      14700.000000
 92.0      30616.500000
 93.0      65515.000000
 94.0       5000.000000
 122.0     14985.500000
Name: mileage, Length: 83, dtype: float64

In [81]:
df[df["mileage"].isna()][["make_model", "age", "mileage"]]

      make_model  age  mileage
10753  Fiat 500X  0.0      NaN

In [86]:
print('The average mileage of all vehicles: ',df["mileage"].mean()) 
print('The average mileage of all "Fiat 500X":', df[df["make_model"] == "Fiat 500X"]["mileage"].mean())  
print('The average mileage of all "Fiat 500X" at age of 0: ',df[(df["make_model"] == "Fiat 500X") & (df["age"] == 0)]["mileage"].mean())

The average mileage of all vehicles:  72630.04873702966
The average mileage of all "Fiat 500X": 49154.09333333333
The average mileage of all "Fiat 500X" at age of 0:  1410.8163265306123

**Let us use transform() function to fill missing values at "mileage" column with "mean".**

In [87]:
df.groupby(["make_model", "age"]).mileage.transform("mean")

0        131346.000000
1          7233.545455
2         33156.823529
3         36861.250000
4        122055.500000
             ...
28625     45138.562500
28626    181000.000000
28627    166912.962963
28628     91159.739130
28629    151462.333333
Name: mileage, Length: 28624, dtype: float64

In [88]:
df["mileage"].fillna(df.groupby(["make_model", "age"]).mileage.transform("mean"), inplace=True)

In [89]:
df[df["mileage"].isna()][["age", "mileage"]]

Empty DataFrame
Columns: [age, mileage]
Index: []

In [90]:
df.loc[10753][["make_model", "age", "mileage"]]

make_model      Fiat 500X
age                   0.0
mileage       1410.816327
Name: 10753, dtype: object

**Using transform() function, we have filled missing values at "mileage" column with the "mean" of the each "age" group.**

In [91]:
first_looking("mileage")

COLUMN NAME    :  mileage
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  14183
--------------------------------
10.0        586
1.0         172
50.0        133
100.0       119
5000.0      118
           ...
141589.0      1
59821.0       1
123500.0      1
29781.0       1
230047.0      1
Name: mileage, Length: 14183, dtype: int64

## doors

In [92]:
# Let's explore basic information about "doors"

first_looking("doors")

COLUMN NAME    :  doors
--------------------------------
per_of_nulls   :  % 1.25
num_of_nulls   :  358
num_of_uniques :  6
--------------------------------
5.0    17481
2.0     5520
4.0     3001
3.0     2257
NaN      358
6.0        5
1.0        2
Name: doors, dtype: int64

<div style="background-color: #ffeeba; padding: 10px; font-size: 16px; font-weight: bold;">
    The <code>number of doors</code> of cars mostly changes by their <code>make_models</code> and <code>body_types</code>. So it's decided to fill missing values with <code>mode value</code> of corresponding group.
</div>

In [96]:
# In fact there is no need to run this DEF since all NaNs manually were filled above by for nested loop

fill_mode(df, "make_model", "body_type", "doors")

column name    :  doors
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  6
--------------------------------
5.0    17638
2.0     5664
4.0     3012
3.0     2303
6.0        5
1.0        2
Name: doors, dtype: int64

## warranty

In [104]:
# Let's explore basic information about "warranty"

first_looking("warranty")

COLUMN NAME    :  warranty
--------------------------------
per_of_nulls   :  % 52.97
num_of_nulls   :  15161
num_of_uniques :  64
--------------------------------
NaN      15161
12.0      9544
24.0      1515
60.0       968
6.0        398
         ...
55.0         1
99.0         1
122.0        1
44.0         1
4.0          1
Name: warranty, Length: 65, dtype: int64

In [105]:
# All NaN values are converted to dash/hyphen sign "-" to see them in the output of describe() and explore the hidden pattern

df["warranty"].fillna("-", inplace=True)

In [106]:
# let's explore if there is any pattern among ""make_model" and "body_type" by "age"

df.groupby(["make_model", "body_type"])["age"].describe()

                                    count  unique   top  freq
make_model        body_type
Dacia 1300        Sedan               1.0     1.0  47.0   1.0
Dacia Break       Station Wagon       1.0     1.0   0.0   1.0
Dacia Business    Compact             1.0     1.0   1.0   1.0
Dacia Comfort Tce Station Wagon       1.0     1.0   0.0   1.0
Dacia Dokker      Compact             1.0     1.0   4.0   1.0
...                                   ...     ...   ...   ...
Volvo Xc70        Station Wagon      26.0     7.0   6.0   6.0
Volvo Xc90        Coupe               4.0     1.0   5.0   4.0
                  Off-Road/Pick-Up  199.0    15.0   5.0  40.0
                  Sedan               3.0     3.0   4.0   1.0
                  Station Wagon       4.0     1.0   6.0   4.0

[1287 rows x 4 columns]

In [107]:
# Because the dtype of "age" is string it's converted to floating point to examine it in detail 

df["age"] = df["age"].astype(float)

In [108]:
# let's explore if there is any pattern among ""make_model" and "body_type" by "age"

df.groupby(["make_model", "body_type"])["age"].describe()

                                    count       mean       std   min   25%  \
make_model        body_type
Dacia 1300        Sedan               1.0  47.000000       NaN  47.0  47.0
Dacia Break       Station Wagon       1.0   0.000000       NaN   0.0   0.0
Dacia Business    Compact             1.0   1.000000       NaN   1.0   1.0
Dacia Comfort Tce Station Wagon       1.0   0.000000       NaN   0.0   0.0
Dacia Dokker      Compact             1.0   4.000000       NaN   4.0   4.0
...                                   ...        ...       ...   ...   ...
Volvo Xc70        Station Wagon      26.0   8.384615  2.281700   6.0   7.0
Volvo Xc90        Coupe               4.0   5.000000  0.000000   5.0   5.0
                  Off-Road/Pick-Up  199.0   4.231156  3.443165   0.0   2.0
                  Sedan               3.0   2.666667  1.527525   1.0   2.0
                  Station Wagon       4.0   6.000000  0.000000   6.0   6.0

                                     50%   75%   max
make_model        body_type
Dacia 1300        Sedan             47.0  47.0  47.0
Dacia Break       Station Wagon      0.0   0.0   0.0
Dacia Business    Compact            1.0   1.0   1.0
Dacia Comfort Tce Station Wagon      0.0   0.0   0.0
Dacia Dokker      Compact            4.0   4.0   4.0
...                                  ...   ...   ...
Volvo Xc70        Station Wagon      8.0   9.0  14.0
Volvo Xc90        Coupe              5.0   5.0   5.0
                  Off-Road/Pick-Up   4.0   5.0  18.0
                  Sedan              3.0   3.5   4.0
                  Station Wagon      6.0   6.0   6.0

[1287 rows x 8 columns]

**Let us take a close look at the age of cars considering the warranty feature with missing values**

In [109]:
df.loc[df["warranty"] == "-"][["make_model", "body_type", "warranty", "age"]]

                   make_model body_type warranty   age
5         Mercedes-Benz C 160   Compact        -  17.0
8      Mercedes-Benz A 35 Amg   Compact        -   3.0
15        Mercedes-Benz A 180   Compact        -  12.0
16        Mercedes-Benz A 250   Compact        -   1.0
23        Mercedes-Benz A 200   Compact        -   3.0
...                       ...       ...      ...   ...
28615               Volvo 960     Sedan        -  30.0
28620               Volvo S90     Sedan        -   4.0
28623               Volvo V40     Sedan        -   4.0
28626               Volvo S40     Sedan        -  18.0
28629               Volvo S80     Sedan        -  20.0

[15161 rows x 4 columns]

In [110]:
df.loc[df["warranty"] == "-"]["age"].value_counts(dropna=False).sort_index()

-180.0       1
-3.0         1
-1.0         1
 0.0      1752
 1.0      1385
          ...
 90.0        3
 92.0        2
 93.0        1
 94.0        1
 122.0       2
Name: age, Length: 83, dtype: int64

In [111]:
display(df.loc[df["warranty"] == "-"]["age"].mean())

8.950333091484731

**It's assumed that missing values in the warranty feature represent no-warranty.**

In [112]:
def warrantyclassifier(x):
    if "-" in x:
        return "No"
    else:
        return "Yes"

df["warranty"] = df["warranty"].astype(str).apply(warrantyclassifier)

In [113]:
first_looking("warranty")

COLUMN NAME    :  warranty
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  2
--------------------------------
No     15161
Yes    13463
Name: warranty, dtype: int64

## gears & gearbox

Since the Domain Knowledge demonstrates that there has been a close association between "gears" and "gearbox", so they will be evaluted together for filling missing values:

### gears

In [ ]:
# Let's explore basic information about "gears"

first_looking("gears")

In [ ]:
# df.groupby("fuel_type").gears.value_counts(dropna=False)

In [ ]:
# Looking at the gear of electric vehicles is of particular importance.

df[df["fuel_type"]=="Electric"].gears.value_counts(dropna=False)

In [ ]:
df["gears"].fillna("-", inplace=True)

In [ ]:
# let's explore if there is any pattern among ""make_model", "body_type", "gearbox", and "gears" by "price"

df.groupby(["make_model", "body_type", "gearbox", "gears"]).price.describe()

<div style="background-color: #ffeeba; padding: 10px; font-size: 16px; font-weight: bold;">
    The <code>number of gears</code> of cars changes by their <code>make_models</code>, <code>body_types</code>, and <code>gearbox</code> most of the time. So it's decided to fill missing values with <code>mode value</code> of corresponding group.
</div>

In [ ]:
# Let's replace dash/hyphen sign "-" with np.nan

df["gears"].replace("-", np.nan, inplace=True)

In [ ]:
for group1 in df["make_model"].unique():
    for group2 in df["body_type"].unique():
        for group3 in df["gearbox"].unique():
            cond1 = df["make_model"] == group1
            cond2 = (df["make_model"] == group1) & (df["body_type"] == group2)
            cond3 = (df["make_model"] == group1) & (df["body_type"] == group2) & (df["gearbox"] == group3)
            mode1 = list(df[cond1]["gears"].mode())
            mode2 = list(df[cond2]["gears"].mode())
            mode3 = list(df[cond3]["gears"].mode())
            if mode3 != []:
                df.loc[cond3, "gears"] = df.loc[cond3, "gears"].fillna(df[cond3]["gears"].mode()[0])
            elif mode2 != []:
                df.loc[cond3, "gears"] = df.loc[cond3, "gears"].fillna(df[cond2]["gears"].mode()[0])
            elif mode1 != []:
                df.loc[cond3, "gears"] = df.loc[cond3, "gears"].fillna(df[cond1]["gears"].mode()[0])
            else:
                df.loc[cond3, "gears"] = df.loc[cond3, "gears"].fillna(df["gears"].mode()[0])

In [ ]:
first_looking("gears")

**However, there have still been some (196) missing values for ``gears`` and WHY❓**

In [ ]:
df[df["gears"].isna()][["make_model", "body_type", "gearbox"]]

### gearbox

In [ ]:
# Let's explore basic information about "gearbox"

first_looking("gearbox")

In [ ]:
# df.groupby("fuel_type").gearbox.value_counts(dropna=False)

In [ ]:
# Looking at the gear types of electric vehicles is of particular importance.

df[df["fuel_type"]=="Electric"].gearbox.value_counts(dropna=False)

In [ ]:
df["gearbox"].fillna("-", inplace=True)

In [ ]:
# let's explore if there is any pattern among ""make_model", "body_type", and "gearbox" by "price"

df.groupby(["make_model", "body_type", "gearbox"]).price.describe()

<div style="background-color: #ffeeba; padding: 10px; font-size: 16px; font-weight: bold;">
    The <code>type of gearbox</code> of cars changes by their <code>make_models</code> and <code>body_types</code> most of the time. So it's decided to fill missing values with <code>mode value</code> of corresponding group.
</div>

In [ ]:
# Let's replace dash/hyphen sign "-" with np.nan

df["gearbox"] = df["gearbox"].replace('-', np.nan)

In [ ]:
fill(df, "make_model", "body_type", "gearbox", "mode")

**Let us take care of ``gears`` again:**

In [ ]:
# This is the nested for loop where it's used in fill(df, group_col1, group_col2, col_name, method) DEF to be generalized for all data

for group1 in df["make_model"].unique():
    for group2 in df["body_type"].unique():
        for group3 in df["gearbox"].unique():
            cond1 = df["make_model"] == group1
            cond2 = (df["make_model"] == group1) & (df["body_type"] == group2)
            cond3 = (df["make_model"] == group1) & (df["body_type"] == group2) & (df["gearbox"] == group3)
            mode1 = list(df[cond1]["gears"].mode())
            mode2 = list(df[cond2]["gears"].mode())
            mode3 = list(df[cond3]["gears"].mode())
            if mode3 != []:
                df.loc[cond3, "gears"] = df.loc[cond3, "gears"].fillna(df[cond3]["gears"].mode()[0])
            elif mode2 != []:
                df.loc[cond3, "gears"] = df.loc[cond3, "gears"].fillna(df[cond2]["gears"].mode()[0])
            elif mode1 != []:
                df.loc[cond3, "gears"] = df.loc[cond3, "gears"].fillna(df[cond1]["gears"].mode()[0])
            else:
                df.loc[cond3, "gears"] = df.loc[cond3, "gears"].fillna(df["gears"].mode()[0])

In [ ]:
first_looking("gears")

## fuel_type

With a greater push towards fuel efficiency, low running costs and less carbon emissions, you’ll find that hybrid, diesel and electric cars will hold their value for much longer than petrol counterparts. This isn’t a universal truth, as small petrol cars can do very well, but it is becoming a trend.

In [ ]:
# Let's explore basic information about "fuel_type"

first_looking("fuel_type")

In [ ]:
# All NaN values are converted to dash/hyphen sign "-" to see them in the output of describe() and explore the hidden pattern

df["fuel_type"].fillna("-", inplace=True)

### 📝 Domain Knowledge:

If we use the same transmission in both engines, the power to the wheels would be uneven and disproportionate as per the engine RPM and driving conditions. Hence we cannot couple the same manual transmission with both the engines.

**🧐 [Is there any difference between transmission systems of petrol and diesel engines?](https://www.quora.com/Is-there-any-difference-between-transmission-systems-of-petrol-and-diesel-engines)**

**🧐 [Can I use a diesel engine on a petrol gearbox?](https://www.quora.com/Can-I-use-a-diesel-engine-on-a-petrol-gearbox)**

In [ ]:
# let's explore if there is any pattern among ""make_model", "body_type", "gearbox", and "fuel_type" by "price"

df.groupby(["make_model", "body_type", "gearbox", "fuel_type"]).price.describe()

In [ ]:
df["fuel_type"] = df["fuel_type"].replace('-', np.nan)

<div style="background-color: #ffeeba; padding: 10px; font-size: 16px; font-weight: bold;">
    Domain Knowledge demonstrates that the <code>fuel type</code> of cars might change by their <code>make_models</code> and <code>gear_box</code> most of the time. So it's decided to fill missing values with <code>mode value</code> of corresponding group.
</div>

In [ ]:
# This DEF will fill the missing values in the "fuel_type" with the mode value based on "make_model" and "body_type"

fill(df, "make_model", "gearbox", "fuel_type", "mode")

## seats

In [ ]:
# Let's explore basic information about "seats"

first_looking("seats")

<div style="background-color: #ffeeba; padding: 10px; font-size: 16px; font-weight: bold;">
    Domain Knowledge demonstrates that the <code>number of seats</code> of cars might change by their <code>make_models</code> and <code>body_types</code> most of the time. So it's decided to fill missing values with <code>mode value</code> of corresponding group.
</div>

In [ ]:
# This DEF will fill the missing values in the "seats" with the mode value based on "make_model" and "body_type"

fill(df, "make_model", "body_type", "seats", "mode")

## co_emissions

In [ ]:
# Let's explore basic information about "co_emissions"

first_looking("co_emissions")

In [ ]:
# All NaN values are converted to dash/hyphen sign "-" to see them in the output of describe() and explore the hidden pattern

df["co_emissions"].fillna("-", inplace=True)

In [ ]:
# let's explore if there is any pattern among ""make_model", "body_type", "fuel_type", and "co_emissions" by "price"

df.groupby(["make_model", "body_type", "fuel_type", "co_emissions"]).price.describe()

**Let's first examine how co_emission values for Electric cars differ from others.**

In [ ]:
df.groupby(["fuel_type", "make_model", "body_type", "co_emissions"]).price.describe().loc["Electric"]

**It seems more sensible/rational to impute missing values in two stages:**

- With the ``Mode`` value of Electric feature for ``Electric cars``.

- With the ``Median`` values of related make_model, body_type and fuel_type features for the ``others``.

In [ ]:
# Let's replace dash/hyphen sign "-" with np.nan

df["co_emissions"].replace("-", np.nan, inplace=True)

In [ ]:
# Let's explore CO Emission values of Electric Vehicles

df.loc[df["fuel_type"] == "Electric", "co_emissions"]

In [ ]:
# Let's see the occurances of unique CO Emission values for Electric Vehicles

df[df["fuel_type"] == "Electric"]["co_emissions"].value_counts(dropna=False)

In [ ]:
# Let's explore CO Emission values of Vehicles which run with Benzine

df[df["fuel_type"] == "Benzine"]["co_emissions"].value_counts(dropna=False)

In [ ]:
# Let's fill the missing values for Electric Vehicles with mode

df.loc[df["fuel_type"] == "Electric", "co_emissions"] = df.loc[df["fuel_type"] == "Electric", "co_emissions"].fillna(df.loc[df["fuel_type"] == "Electric", "co_emissions"].mode()[0])
df.loc[df["fuel_type"] == "Electric", "co_emissions"]

In [ ]:
# There have some anomalies in CO Emission values for some Electric Cars

df.loc[(df["fuel_type"] == "Electric") & (df["co_emissions"] != 0)][["fuel_type", "co_emissions"]]

In [ ]:
df.iloc[5831]

In [ ]:
# let's explore "Renault Arkana" by "co_emissions"

df.loc[df["make_model"] == "Renault Arkana"][["gearbox", "fuel_type", "gears", "co_emissions"]]

In [ ]:
# According to the examination above, it's assumed that fuel type of that observation might be "Benzine"

df.loc[5831, "fuel_type"] = "Benzine" 
# df.at[5831, "fuel_type"] = "Benzine" 
# df.iloc[5831, df.columns.get_loc("fuel_type")] = "Benzine"

In [ ]:
df.loc[5831]["fuel_type"]

# Step-1

df['co_emissions'].fillna(df["co_emissions"].median(), inplace = True)

# Step-2

df['co_emissions'].fillna(df.groupby("make_model")["co_emissions"].transform("median"), inplace=True)

# Step-3

df['co_emissions'].fillna(df.groupby(["make_model", "body_type"])["co_emissions"].transform("median"), inplace=True)

# Step-3

df['co_emissions'].fillna(df.groupby(["make_model", "body_type", "fuel_type"])["co_emissions"].transform("median"), inplace=True)

In [ ]:
# Let's remember and apply one of our DEFs for imputing missing values in "co_emissions"

def fill_median(df, group_col1, group_col2, group_col3, col_name):
    
    df[col_name].fillna(df.groupby([group_col1, group_col2, group_col3])[col_name].transform("median"), inplace = True)
    df[col_name].fillna(df.groupby([group_col1, group_col2])[col_name].transform("median"), inplace = True)
    df[col_name].fillna(df.groupby(group_col1)[col_name].transform("median"), inplace = True)
    df[col_name].fillna(df[col_name].median(), inplace = True)

    print("column name    : ", col_name)
    print("--------------------------------")
    print("per_of_nulls   : ", "%", round(df[col_name].isnull().sum()*100 / df.shape[0], 2))
    print("num_of_nulls   : ", df[col_name].isnull().sum())
    print("num_of_uniques : ", df[col_name].nunique())
    print("--------------------------------")
    print(df[col_name].value_counts(dropna = False))

In [ ]:
# This DEF will fill the missing values in the "co_emissions" with the median value based on "make_model", "body_type", and "fuel_type"

fill_median(df, "make_model", "body_type", "fuel_type", "co_emissions")

## cylinders

In [ ]:
# Let's explore basic information about "cylinders"

first_looking("cylinders")

In [ ]:
# All NaN values are converted to dash/hyphen sign "-" to see them in the output of describe() and explore the hidden pattern

df["cylinders"].fillna("-", inplace=True)

In [ ]:
# let's explore if there is any pattern among "make_model", "body_type", "age", and "cylinders" by "price"

df.groupby(["make_model", "body_type", "age", "cylinders"]).price.describe()

In [ ]:
# Let's replace dash/hyphen sign "-" with np.nan

df["cylinders"].replace("-", np.nan, inplace=True)

In [ ]:
# This DEF will fill the missing values in the "cylinders" with the mode value based on "make_model" and "body_type"

fill(df, "make_model", "body_type", "cylinders", "mode")

<div style="background-color: #FFB6C1; padding: 10px; font-size: 16px; font-weight: bold;">
    However, it is preferred to drop the <code>cylinders</code> feature in this analysis since there have been some other features, such as <code>power_hp</code>, <code>power_kW</code>, and <code>engine_size</code>, having fewer missing values and giving similar insight. So it's assumed to continue without the <code>cylinders</code> feature in this analysis.
</div>

In [ ]:
display(df.shape)  # the number of rows & columns BEFORE dropping process
df.drop("cylinders", axis=1, inplace=True)
display(df.shape)  # the number of rows & columns AFTER dropping process

## power_kW

In [ ]:
# Let's explore basic information about "power_kW"

first_looking("power_kW")

In [ ]:
# All NaN values are converted to dash/hyphen sign "-" to see them in the output of describe() and explore the hidden pattern

df["power_kW"].fillna("-", inplace=True)

In [ ]:
# let's explore if there is any pattern among "make_model", "body_type", and "power_kW" by "price"

df.groupby(["make_model", "body_type", "power_kW"]).price.describe()

In [ ]:
df.loc[df["power_kW"] == "-"][["make_model", "body_type", "power_kW", "power_hp", "engine_size", "fuel_type"]]

<div style="background-color: #ffeeba; padding: 10px; font-size: 16px; font-weight: bold;">
    Domain Knowledge demonstrates that the <code>kW</code> of cars might change by their <code>make_models</code> and <code>body_types</code> most of the time. So it's decided to fill missing values with <code>mode value</code> of corresponding group.
</div>

In [ ]:
# Let's replace dash/hyphen sign "-" with np.nan

df["power_kW"].replace(["-"], np.nan, inplace=True)

In [ ]:
# This DEF will fill the missing values in the "power_kW" with the mode value based on "make_model" and "body_type"

fill(df, "make_model", "body_type", "power_kW", "mode")

## power_hp

In [ ]:
# Let's explore basic information about "power_hp"

first_looking("power_hp")

In [ ]:
# All NaN values are converted to dash/hyphen sign "-" to see them in the output of describe() and explore the hidden pattern

df["power_hp"].fillna("-", inplace=True)

In [ ]:
# let's explore if there is any pattern among "make_model", "body_type", and "power_hp" by "price"

df.groupby(["make_model", "body_type", "power_hp"]).price.describe()

<div style="background-color: #ffeeba; padding: 10px; font-size: 16px; font-weight: bold;">
    Domain Knowledge demonstrates that the <code>hp</code> of cars changes by their <code>make_models</code> and <code>body_types</code> most of the time. So it's decided to fill missing values with <code>mode value</code> of corresponding group.
</div>

In [ ]:
# Let's replace dash/hyphen sign "-" with np.nan

df["power_hp"].replace(["-"], np.nan, inplace=True)

In [ ]:
# This DEF will fill the missing values in the "power_kW" with the mode value based on "make_model" and "body_type"

fill(df, "make_model", "body_type", "power_hp", "mode")

<div style="background-color: #FFB6C1; padding: 10px; font-size: 16px; font-weight: bold;">
    The <code>hp</code> feature is dropped from the analysis and <code>kW</code> will be used for further steps since <code>kW</code> is used as the indicator of comsumption for electric vehicles as well.
</div>

In [ ]:
display(df.shape)  # the number of rows & columns BEFORE dropping process
df.drop("power_hp", axis=1, inplace=True)
display(df.shape)  # the number of rows & columns AFTER dropping process

## cons_avg

**📢 Problem!!!**

We are all used to the fact that the fuel consumption of a petrol or diesel car is expressed in litres per hundred kilometres (l/100 km)...An electric car does NOT use fuel but gets its energy from a battery. The maximum amount of energy the battery can store (capacity) is expressed in kWh (kilowatt-hour). Instead of the amount of fuel needed to cover hundred kilometres, the energy consumption of an electric car is (usually) expressed in the number of kilowatt-hours needed to drive a hundred kilometres (kWh/100 km).

**🤔 How do we deal with this issue?**

**🧐 [What is the equivalent fuel consumption of an electric car?](https://news.mgmotor.eu/what-is-the-equivalent-fuel-consumption-of-an-electric-car/)**

**🧐 [Energy consumption of full electric vehicles](https://ev-database.org/cheatsheet/energy-consumption-electric-car)**

**🧐 [HOW DO YOU CALCULATE KWH VS. KW?](https://www.directenergyregulatedservices.com/blog/kw-vs-kwh-whats-difference#:~:text=Divide%20the%20wattage%20by%201%2C000,days%20%3D%2090%20kWh%20per%20month)**

In [ ]:
# Let's explore basic information about "cons_avg"

first_looking("cons_avg")

**let us first examine how electric vehicles look like?**

In [ ]:
df.loc[df["fuel_type"] == "Electric"][["fuel_type", "cons_avg"]]

In [ ]:
df.groupby("fuel_type")[["cons_avg"]].describe()

<div style="background-color: #ffeeba; padding: 10px; font-size: 16px; font-weight: bold;">
    No values seem to be entered for electric vehicles.
</div>

### 📝 Domain Knowledge About Energy Consumption of Electric Cars

**According to the following cheatsheet as a quick reference which shows all-electric vehicles sorted by energy consumption, the average consumption of electric vehicles is ``201 Wh/km`` (20100 Wh/100km) - ``0.210 kWh/km`` (21 kWh/100km) (1 watt hour = 0.001 kilowatt hours). Data is based on real-world values. The average is corrected for multiple versions of the same model.**

Let’s take the ``MG5 Electric Long Range`` as an example, the world’s first all-electric station wagon. The battery offers a capacity of ``61.1 kWh``. With a fully charged battery, you can drive a distance up to ``400 km`` according to the European protocol for the measurement of energy consumption (WLTP). This means the average energy consumption of the MG5 Electric Long Range is ``15.3 kWh/100 km``.

Since electric driving is still unknown territory for many, the energy consumption of an electric car doesn’t mean much to most motorists. But to give you an idea, we can calculate the ‘equivalent fuel consumption’ of an electric car.

How? Well, we know a ``litre of petrol`` contains about ``8.9 kWh`` of energy. If we convert this and compare it with the energy consumption of the MG5 Electric Long Range (15.3 kWh/100 km divided by 8.9 kWh/litre), you have an equivalent fuel consumption of just ``1.7 l/100 km``. In other words, the MG5 Electric is considerably more energy efficient than any car with an internal Combustion Engine (ICE).

So, in our case, if the average consumption of electric vehicles, in general, is accepted as **``21 kWh/100km``**, then 21/8.9 is equal to **``2.359 l/100 km``**, which can be used to fill missing values for electric vehicles. 

**🧐 [Energy consumption of full electric vehicles](https://ev-database.org/cheatsheet/energy-consumption-electric-car)**

<br><div style="background-color: #ffeeba; padding: 10px; font-size: 16px; font-weight: bold;">
    It seems more sensible/rational to fill missing values in two stages:
</div>

- With the accepted ``Average`` consumption value of ``electric vehicles``.
- If it's posibble, with the a calculated ``Average`` value; otherwise, with the ``Median`` values of related make_model, body_type and fuel_type features for the ``others``.

### Stage 1:

In [ ]:
df.loc[df["fuel_type"] == "Electric", "cons_avg"] = 2.359  # According to Domain Knowledge above
df.loc[df["fuel_type"] == "Electric"][["fuel_type", "cons_avg"]]

In [ ]:
# Let's explore basic information about "cons_avg" again

first_looking("cons_avg")

### Stage 2:

**Let us calculate the average fuel consumption for vehicles according to values at hand:**

In [ ]:
# Let's first explore id there has been some values in "cons_city" and "cons_country" columns to fill missing values in "cons_avg"

df[(df["cons_avg"].isnull()) & (df["cons_city"].notnull()) & (df["cons_country"].notnull())]

In [ ]:
# Then, let's calculate an average fuel consumption value based on the values in "cons_city" and "cons_country" columns

cons_avg2 = (df["cons_country"] + df["cons_city"])/2
cons_avg2.value_counts(dropna=False)

In [ ]:
# Let's fill fill missing values in "cons_avg" based on average fuel consumption calculation above

df["cons_avg"] = df["cons_avg"].fillna(cons_avg2)

In [ ]:
# Let's explore basic information about "cons_avg" again

first_looking("cons_avg")

**However, this approach did NOT work and make any impact on decreasing the number of missing values in ``cons_avg``**

In [ ]:
# All NaN values are converted to dash/hyphen sign "-" to see them in the output of describe() and explore the hidden pattern

df["cons_avg"].fillna("-", inplace=True)

In [ ]:
# let's explore if there is any pattern among "make_model", "body_type", "fuel_type", and "cons_avg" by "price"

df.groupby(["make_model", "body_type", "fuel_type", "cons_avg"]).price.describe()

In [ ]:
# Let's replace dash/hyphen sign "-" with np.nan

df["cons_avg"].replace("-", np.nan, inplace=True)

In [ ]:
# This DEF will fill the missing values in the "cons_avg" with the meddian value based on "make_model", "body_type", and "fuel_type"

fill_median(df, "make_model", "body_type", "fuel_type", "cons_avg")

## cons_city

In [ ]:
# Let's explore basic information about "cons_city"

first_looking("cons_city")

In [ ]:
# Let's drop "cons_city" since we have a calculate "cons_avg" feature

display(df.shape)  # the number of rows & columns BEFORE dropping process
df.drop("cons_city", axis=1, inplace=True)
display(df.shape)  # the number of rows & columns AFTER dropping process

## cons_country

In [ ]:
# Let's explore basic information about "cons_country"

first_looking("cons_country")

In [ ]:
# Let's drop "cons_country" since we have a calculate "cons_avg" feature

display(df.shape)  # the number of rows & columns BEFORE dropping process
df.drop("cons_country", axis=1, inplace=True)
display(df.shape)  # the number of rows & columns AFTER dropping process

## drivetrain

In [ ]:
# Let's explore basic information about "drivetrain"

first_looking("drivetrain")

In [ ]:
# All NaN values are converted to dash/hyphen sign "-" to see them in the output of describe() and explore the hidden pattern

df["drivetrain"].fillna("-", inplace=True)

In [ ]:
# let's explore if there is any pattern among "make_model", "body_type", and "drivetrain" by "price"

df.groupby(["make_model", "body_type", "drivetrain"]).price.describe()

<div style="background-color: #ffeeba; padding: 10px; font-size: 16px; font-weight: bold;">
    Domain Knowledge demonstrates that the <code>drivetrain</code> of cars changes by their <code>make_models</code> and <code>body_types</code> most of the time. So it's decided to fill missing values with <code>mode value</code> of corresponding group.
</div>

In [ ]:
df[df["body_type"] == "Off-Road/Pick-up"][["make_model", "body_type", "fuel_type", "drivetrain"]].value_counts()

### 📝 Domain Knowledge About Drivetrain of Some Electric Cars

The **``Škoda Enyaq iV``** is a battery electric compact crossover SUV manufactured by Škoda Auto. It was introduced in September 2020 in Prague, while mass production commenced in November 2020...The Enyaq iV will be available either as **``rear-wheel drive``** or **``all-wheel drive``**, with three different battery capacities and five performance versions...

The **``Hyundai Kona``** is a subcompact crossover SUV (B-segment) produced by the South Korean manufacturer Hyundai. The Kona debuted in June 2017 and the production version was revealed later that year...While it is developed as an urban-oriented crossover SUV, the Kona is available in **``front-wheel-drive``** and **``all-wheel-drive``** variants...

The **``Ford Mustang Mach-E``** is a battery electric compact crossover SUV produced by Ford. The vehicle was introduced on November 17, 2019, and went on sale in December 2020 as a 2021 model...Its Layout is either **``Rear-motor``** with **``rear-wheel drive``** or **``Dual-motor``** with **``all-wheel-drive``**...

This Domain Knowledge demonstrates that the newest car technology breaks through some major trends impacting automotive manufacturing, particularly for electric vehicles. Eventually, this comes up with a new terminology. Therefore, there is a conceptual confusion in the automative sector, since the technology used in the production of electric batteries is different and there is **no standardization** in terms of concepts yet.

In [ ]:
# Let's replace dash/hyphen sign "-" with np.nan

df["drivetrain"] = df["drivetrain"].replace('-', np.nan)

In [ ]:
# This DEF will fill the missing values in the "drivetrain" with the median value based on "make_model" and "body_type"

fill(df, "make_model", "body_type", "drivetrain", "mode")

## empty_weight

In [ ]:
# Let's explore basic information about "empty_weight"

first_looking("empty_weight")

In [ ]:
# All NaN values are converted to dash/hyphen sign "-" to see them in the output of describe() and explore the hidden pattern

df["empty_weight"].fillna("-", inplace=True)

In [ ]:
# let's explore if there is any pattern among "make_model", "body_type", and "empty_weight" by "price"

df.groupby(["make_model", "body_type", "empty_weight"]).price.describe()

<div style="background-color: #ffeeba; padding: 10px; font-size: 16px; font-weight: bold;">
    Domain Knowledge demonstrates that the <code>empty weight</code> of cars changes by their <code>make_models</code> and <code>body_types</code> most of the time. So it's decided to fill missing values with <code>mode value</code> of corresponding group.
</div>

In [ ]:
# Let's replace dash/hyphen sign "-" with np.nan

df["empty_weight"].replace("-", np.nan, inplace=True)

In [ ]:
# This DEF will fill the missing values in the "drivetrain" with the mode value based on "make_model", "body_type", and "empty_weight"

fill(df, "make_model", "body_type", "empty_weight", "mode")

## previous_owner

In [ ]:
# Let's explore basic information about "previous_owner"

first_looking("previous_owner")

In [ ]:
# All NaN values are converted to dash/hyphen sign "-" to see them in the output of describe() and explore the hidden pattern

df["previous_owner"].fillna("-", inplace = True)

In [ ]:
# let's explore if there is any pattern among "make_model", "body_type", 'age', and "previous_owner" by "price"

df.groupby(['make_model', 'body_type', 'age', 'previous_owner']).price.describe()

In [ ]:
# let's explore if there is any pattern among "make_model", "body_type", 'age', and "previous_owner" by "mileage"

df.groupby(['make_model', 'body_type', 'age', 'previous_owner']).mileage.describe()

In [ ]:
# Let's replace dash/hyphen sign "-" with np.nan

df["previous_owner"].replace("-", np.nan, inplace=True)

In [ ]:
def fill_prop(df, group_col, col_name):
    '''Fills the missing values with "ffill and bfill method" according to single-stage grouping'''
    
    for group in df[group_col].unique():
        cond = df[group_col] == group
        df.loc[cond, col_name] = df.loc[cond, col_name].fillna(method="ffill").fillna(method="bfill")
    
    df[col_name] = df[col_name].fillna(method="ffill").fillna(method="bfill")
    
    print("column name    : ", col_name)
    print("--------------------------------")
    print("per_of_nulls   : ", "%", round(df[col_name].isnull().sum()*100 / df.shape[0], 2))
    print("num_of_nulls   : ", df[col_name].isnull().sum())
    print("num_of_uniques : ", df[col_name].nunique())
    print("--------------------------------")
    print(df[col_name].value_counts(dropna = False))

In [ ]:
# This DEF fills missing values in "previous_owner" using forward and backward fill based on "age"

fill_prop(df, "age", "previous_owner")

## energy_efficiency_class

In [ ]:
# Let's explore basic information about "energy_efficiency_class"

first_looking("energy_efficiency_class")

In [ ]:
# All NaN values are converted to dash/hyphen sign "-" to see them in the output of describe() and explore the hidden pattern

df["energy_efficiency_class"].fillna("-", inplace = True)

In [ ]:
# let's explore if there is any pattern among 'energy_efficiency_class', "make_model", "body_type", and "age" by "mileage"

df.groupby(['energy_efficiency_class', 'make_model', 'body_type', 'age']).mileage.describe()

In [ ]:
# Let's focus on discovering what NaN values in "energy_efficiency_class" tell

# df.loc[(df.energy_efficiency_class == "-") & (df.fuel_type == "Electric")][["make_model", "age", "body_type", "gearbox", "drivetrain", "gears", "engine_size", "fuel_type", "co_emissions", "cons_avg"]]

df.loc[(df.energy_efficiency_class == "-")][["make_model", "age", "body_type", "gearbox", "drivetrain", "gears", "engine_size", "fuel_type", "co_emissions", "cons_avg"]]

In [ ]:
df.loc[(df.energy_efficiency_class == "-")]["age"].value_counts()

In [ ]:
# Let's replace dash/hyphen sign "-" with np.nan

df["energy_efficiency_class"].replace("-", np.nan, inplace=True)

In [ ]:
fill(df, "make_model", "age", "energy_efficiency_class", "mode")

## upholstery

In [ ]:
# Let's explore basic information about "upholstery"

first_looking("upholstery")

### 📝 Domain Knowledge About Velour & Alcantara

**``Velour``** is a traditional fabric cloth previously used on OE automotive seating. It features a durable construction and is finished with a 3.5mm foam and denier backing for ease of fabrication. Velour insert cloth is versatile and can be used on other general purpose upholstery applications.

**``Alcantara``** is an Italian-made synthetic fabric that is durable and feels like suede. Alcantara has a soft, suede-like microfiber pile and is renowned for its unmatched durability. Alcantara is commonly used in car interiors such as Alcantara car seats or Alcantara steering wheel covers.

In [ ]:
# Let's redesign "upholstery" feature based on Domain Knowledge About Velour & Alcantara above

df["upholstery"].replace(["Velour", "alcantara", "Part leather", "Full leather"],
                         ["Cloth", "Part/Full Leather", "Part/Full Leather", "Part/Full Leather"], inplace=True)

df["upholstery"].replace("Other", np.nan, inplace=True)

df["upholstery"].value_counts(dropna=False)

In [ ]:
# All NaN values are converted to dash/hyphen sign "-" to see them in the output of describe() and explore the hidden pattern

df["upholstery"].fillna("-", inplace=True)

In [ ]:
# let's explore if there is any pattern among "make_model", "body_type", "age", and "upholstery"by "price"

df.groupby(["make_model", "body_type", "age", "upholstery"]).price.describe()

<div style="background-color: #ffeeba; padding: 10px; font-size: 16px; font-weight: bold;">
    Since it was <u>NOT</u> detected a <u>clear relationship</u> among features ffill/bfill methods to fill missing values would be prefered to maintain the current proportionality.
</div>

In [ ]:
# Let's replace dash/hyphen sign "-" with np.nan

df["upholstery"].replace("-", np.nan, inplace=True)

In [ ]:
# This DEF fills missing values in "upholstery" using forward fill based on "make_model" and "body_type"

fill(df, "make_model", "body_type", "upholstery", "ffill")

## comfort_&_convenience

In [ ]:
# Let's explore basic information about "comfort_&_convenience"

first_looking("comfort_&_convenience")

In [ ]:
# This DEF will fill the missing values in the "comfort_&_convenience" with the mode value based on "make_model" and "body_type"

fill(df, "make_model", "body_type", "comfort_&_convenience", "mode")

In [ ]:
# df['comfort_&_convenience'].str.split(',', expand=True).stack().str.strip().explode().unique()

In [ ]:
# If you want to see more, full string for each row/observation, use the following
# pd.set_option('display.max_colwidth', -1)

# df['comfort_&_convenience']

### 📝 Some Remarks on Comfort & Conveniance Features of Cars:

**Let us define ``"Comfort & Conveniance Packages"`` for vehicles based on Domain Knowledge:**

Here are general definitions of standard, premium, and premium comfort & convenience packages for vehicles:

  - **``Standard Package``**: The Standard Package is the base configuration for a vehicle model, and typically includes basic features and equipment. This may include things like air conditioning, power windows and locks, and a basic audio system.

  - **``Premium Package``**: The Premium Package is an upgrade to the standard package and usually includes additional or enhanced features and equipment. This may include features like leather seats, a premium audio system, a sunroof/moonroof, and advanced driver assistance systems (ADAS) such as blind spot monitoring or lane departure warning.

  - **``Premium Plus Package``**: The Premium Plus Package is another upgrade to the premium package and typically includes additional luxury features that enhance the driving experience. This may include features like heated and ventilated seats, a power-adjustable steering wheel, a larger infotainment display, and a premium sound system.

Keep in mind that the specific features and equipment included in each package can vary depending on the vehicle make and model. Additionally, some features may be available as standalone options or bundled with other packages. It's always a good idea to review the specific details of each package to determine which one best fits your needs and budget.

In [ ]:
# display all unique values in "comfort_&_convenience"
# pd.set_option('display.max_rows', None)

df['comfort_&_convenience'].unique()

In [ ]:
# reset the 'max_rows' option to its default value
# pd.reset_option('display.max_rows')

In [ ]:
premium = ["Electrical side mirrors", "Parking assist", "Air conditioning", "Hill Holder", "Power windows"]
premium_plus = ["Multi-function", "Navigation ", "Keyless central door lock", "Heads-up", "Massage seats", "heating", "Automatic climate control", "Heated"]

comfort_package = df['comfort_&_convenience'].apply(lambda sentence: "Premium Plus" if all(word in sentence for word in premium_plus) else ("Premium" if all(word in sentence for word in premium) else "Standard"))
comfort_package.value_counts(dropna=False)

**Let us assign each car to related ``"Comfort & Conveniance Packages"`` defined above:**

In [ ]:
# # To see maximum column width
# pd.set_option('display.max_colwidth', None)

# # To reset maximum column width OR all options
# pd.reset_option('display.max_colwidth', silent=True)
# pd.reset_option('^display.', silent=True)
# reset_option('all')

premium = ["Electrical side mirrors", "Parking assist", "Air conditioning", "Hill Holder", "Power windows"]
premium_plus = ["Multi-function", "Navigation ", "Keyless central door lock", "Heads-up", "Massage seats", "heating", "Automatic climate control", "Heated"]

df['comfort_&_convenience_Package'] = df['comfort_&_convenience'].apply(lambda sentence: "Premium Plus" if all(word in sentence for word in premium_plus) else ("Premium" if all(word in sentence for word in premium) else "Standard"))
df[["make_model", "body_type", "type", "mileage", "gearbox", "fuel_type", "age", "energy_efficiency_class", "power_kW", "cons_avg", "comfort_&_convenience", "comfort_&_convenience_Package", "price"]].head()

In [ ]:
# There is no need for old 'comfort_&_convenience' since a new feature of 'comfort_&_convenience_Package' is created

display(df.shape)  # the number of rows & columns BEFORE dropping process
df.drop("comfort_&_convenience", axis=1, inplace=True)
display(df.shape)  # the number of rows & columns AFTER dropping process

## entertainment_&_media

In [ ]:
# Let's explore basic information about "entertainment_&_media"

first_looking("entertainment_&_media")

In [ ]:
# This DEF will fill the missing values in the "entertainment_&_media" with the mode value based on "make_model" and "body_type"

fill(df, "make_model", "body_type", "entertainment_&_media", "mode")

### 📝 Some Remarks on Comfort & Conveniance Features of Cars:

**Let us define car ``"Entertainment & Media Packages"``:**

Here are some general definitions of standard and plus Entertainment & Media Packages for vehicles:

  - **``Standard Entertainment & Media Package``**: The standard Entertainment & Media Package is a basic configuration for a vehicle's infotainment system. This package typically includes features such as an AM/FM radio, Bluetooth connectivity, and a basic audio system. It may also include a small touchscreen display for accessing media and vehicle settings.

  - **``Premium/Plus Entertainment & Media Package``**: The Premium/Plus Entertainment & Media Package is an upgrade to the standard package, and typically includes additional features and capabilities. This may include a larger touchscreen display with higher resolution, support for satellite radio, a premium audio system, and additional connectivity options such as Apple CarPlay and Android Auto. It may also include additional safety features such as a backup camera or parking sensors.

It's worth noting that the specific features and equipment included in each package can vary depending on the vehicle make and model. Additionally, some features may be available as standalone options or bundled with other packages. It's always a good idea to review the specific details of each package to determine which one best fits your needs and budget.

In [ ]:
# display all unique values in "entertainment_&_media"
# pd.set_option('display.max_rows', None)

df['entertainment_&_media'].unique()

In [ ]:
# reset the 'max_rows' option to its default value
# pd.reset_option('display.max_rows')

In [ ]:
# df[df['entertainment_&_media'].str.contains("Apple")]

### Option 1:

In [ ]:
media_plus = ["Digital", "Television"]

# media_plus = ["Digital radio", "Hands-free", "Television"]

entertainment_media_package = df['entertainment_&_media'].apply(lambda sentence: "Premium Media" if any(word in sentence for word in media_plus) else "Standard Media")
entertainment_media_package.value_counts(dropna=False)

### Option 2:

In [ ]:
# media_plus = ["Digital", "Television"]

media_plus = ["Digital radio", "Hands-free", "Television", "Induction charging for smartphones", "Apple"]

entertainment_media_package = df['entertainment_&_media'].apply(lambda sentence: "Premium Media" if any(word in sentence for word in media_plus) else "Standard Media")
entertainment_media_package.value_counts(dropna=False)

**Let us assign each car to the corresponding ``"Entertainment & Media Packages"`` defined above:**

In [ ]:
media_plus = ["Digital radio", "Hands-free", "Television", "Induction charging for smartphones", "Apple"]

df['entertainment_&_media_Package'] = df['entertainment_&_media'].apply(lambda sentence: "Premium Media" if any(word in sentence for word in media_plus) else "Standard Media")
df[["make_model", "body_type", "type", "mileage", "gearbox", "fuel_type", "age", "power_kW", "cons_avg", "energy_efficiency_class", "comfort_&_convenience_Package", 'entertainment_&_media', 'entertainment_&_media_Package', "price"]].head()

In [ ]:
# There is no need for old 'entertainment_&_media' since a new feature of 'entertainment_&_media_Package' is created

display(df.shape)  # the number of rows & columns BEFORE dropping process
df.drop("entertainment_&_media", axis=1, inplace=True)
display(df.shape)  # the number of rows & columns AFTER dropping process

## extras

In [ ]:
# Let's explore basic information about "extras"

first_looking("extras")

In [ ]:
# This DEF will fill the missing values in the "extras" with the mode value based on "make_model" and "body_type"

fill(df, "make_model", "body_type", "extras", "mode")

## safety_&_security

In [ ]:
# Let's explore basic information about "safety_&_security"

first_looking("safety_&_security")

In [ ]:
# This DEF will fill the missing values in the "safety_&_security" with the mode value based on "make_model" and "body_type"

fill(df, "make_model", "body_type", "safety_&_security", "mode")

### 📝 Some Remarks on Safety & Security Features of Cars:

**Let us define car ``"Safety & Security Packages"``:**

Here are some general definitions of standard, premium, and premium plus Safety & Security Packages for vehicles:

  - **``Standard Safety & Security Package``**: The standard Safety & Security Package is the base configuration for a vehicle's safety features and equipment. This package typically includes basic safety features such as anti-lock brakes, traction control, and stability control. It may also include some passive safety features such as airbags and a backup camera.

  - **``Premium Safety & Security Package``**: The Premium Safety & Security Package is an upgrade to the standard package, and typically includes additional safety features and capabilities. This may include advanced driver assistance systems (ADAS) such as blind spot monitoring, lane departure warning, and forward collision warning with automatic emergency braking. It may also include additional passive safety features such as more airbags, automatic high beams, and adaptive headlights.

  - **``Premium Plus Safety & Security Package``**: The Premium Plus Safety & Security Package is another upgrade to the Premium package, and typically includes the most advanced and comprehensive safety features and capabilities. This may include features such as a 360-degree camera system, adaptive cruise control, and lane keeping assist. It may also include additional passive safety features such as a reinforced body structure, improved crash protection, and advanced tire pressure monitoring.
  
It's important to note that the specific features and equipment included in each package can vary depending on the vehicle make and model. Additionally, some features may be available as standalone options or bundled with other packages. It's always a good idea to review the specific details of each package to determine which one best fits your needs and budget.

In [ ]:
# display all unique values in "safety_&_security"
# pd.set_option('display.max_rows', None)

df['safety_&_security'].unique()

In [ ]:
# reset the 'max_rows' option to its default value
# pd.reset_option('display.max_rows')

In [ ]:
# df[df['safety_&_security'].str.contains("Adaptive")]

**Let us define some ``"Safety & Security Packages"`` based on the Domain Knowledge above and assign each car to the corresponding package:**

In [ ]:
premium = ["Tire pressure", "Daytime running lights", "LED Headlight", "Lane departure warning system"]
premium_plus = ["Traction control", "Emergency brake assistant", "Electronic stability control", "Adaptive"]

safety_security_package = df['safety_&_security'].apply(lambda sentence: "Safety Premium Package" if all(word in sentence for word in premium) else ("Safety Premium Plus Package" if all(word in sentence for word in premium_plus) else "Safety Standard Package"))
safety_security_package.value_counts(dropna=False)

In [ ]:
premium = ["Tire pressure", "Daytime running lights", "LED Headlight", "Lane departure warning system"]
premium_plus = ["Traction control", "Emergency brake assistant", "Electronic stability control", "Adaptive"]

df['safety_&_security_Package'] = df['safety_&_security'].apply(lambda sentence: "Safety Premium Package" if all(word in sentence for word in premium) else ("Safety Premium Plus Package" if all(word in sentence for word in premium_plus) else "Safety Standard Package"))
df[["make_model", "body_type", "type", "mileage", "gearbox", "fuel_type", "age", "power_kW", "cons_avg", "energy_efficiency_class", "comfort_&_convenience_Package", 'entertainment_&_media_Package', 'safety_&_security', 'safety_&_security_Package', "extras", "price"]].head()

In [ ]:
# There is no need for old 'safety_&_security' since a new feature of 'safety_&_security_Package' is created

display(df.shape)  # the number of rows & columns BEFORE dropping process
df.drop("safety_&_security", axis=1, inplace=True)
display(df.shape)  # the number of rows & columns AFTER dropping process

## End of this phase

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
class color:
    PURPLE = '\033[95m'
    CYAN = '\033[96m'
    DARKCYAN = '\033[36m'
    BLUE = '\033[94m'
    GREEN = '\033[92m'
    YELLOW = '\033[93m'
    RED = '\033[91m'
    BOLD = '\033[1m'
    UNDERLINE = '\033[4m'
    END = '\033[0m'

def check_obj_columns(df):
    '''
    Returns NO PROBLEM or column/s which has/have mixed object types.
    '''    
    
    tdf = df.select_dtypes(include=['object']).applymap(type)
    for col in tdf:
        if len(set(tdf[col].values)) > 1:
            print("Column" + " " + color.BOLD + color.RED + col + color.END + " " + "has mixed object types." )
    else:
        if len(set(tdf[col].values)) == 1:
            print(color.BOLD + color.GREEN + " " + "NO PROBLEM" + " " + color.END + " " + "with the data types of Columns in the DataFrame.")

check_obj_columns(df)

In [ ]:
df.isnull().sum()*100 / df.shape[0]

In [ ]:
df.duplicated(keep=False).sum()

# At the beginning of this notebook, it was 3861

In [ ]:
df[df.duplicated(keep=False)]

**Let us save our dataset with a csv extension for further analysis (Handling Outliers) in the following notebook:**

In [ ]:
df.to_csv("filled_scout2022.csv", index=False)

<a id="10"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:150%; text-align:center; border-radius:10px 10px;">The End of Handling with Missing Values (Part - 02)</p>


<p style="text-align: center;"><img src="https://i.ibb.co/99DQ3TY/DS-Courses.png" class="img-fluid" 
alt="CLRSWY"></p>

<a href="https://clarusway.com/"><img align="center" src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" alt="CLRSWY" title="Way to Reinvent Yourself"></a><br/>


## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:120%; text-align:center; border-radius:10px 10px;">Way to Reinvent Yourself</p>
___

<a href="https://clarusway.com/contact-us/"><img align="center" src="https://i.ibb.co/B43qn24/officially-licensed-logo.png" alt="Open in Clarusway LMS" width="110" height="200" title="This notebook is licensed by Clarusway IT training school. Please contact the authorized persons about the conditions under which you can use or share."></a>